.class-0-2283 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-2284 {
font-family : praise-itcfranklingothicstd-bkxcp ; 
font-size : 2.4rem ; 
line-height : 1.2em ; 
margin-bottom : 0.1280004em ; 
text-align : left ; 
text-indent : 0.0% ; 
}

.class-0-2285 {
box-sizing : content-box ; 
text-align : left ; 
}

.class-0-2286 {
margin-bottom : 3.072em ; 
width : 7.324% ; 
}

.class-0-2287 {
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-2288 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-2371 {
font-style : italic ; 
}

.class-0-2372 {
font-style : italic ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

