.class-0-996 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-997 {
font-family : praise-itcfranklingothicstd-bkxcp ; 
font-size : 2.4rem ; 
line-height : 1.2em ; 
margin-bottom : 0.1280004em ; 
text-align : left ; 
text-indent : 0.0% ; 
}

.class-0-998 {
box-sizing : content-box ; 
text-align : left ; 
}

.class-0-999 {
margin-bottom : 3.072em ; 
width : 7.324% ; 
}

.class-0-1000 {
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-1001 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-1019 {
margin-bottom : 1.2288em ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-1020 {
font-family : praise-myriadpro-regular ; 
margin-bottom : 1.2288em ; 
margin-left : 7.0% ; 
margin-right : 7.0% ; 
text-align : justify ; 
text-indent : 0.0% ; 
}

