.class-0-58 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-59 {
box-sizing : content-box ; 
text-align : center ; 
}

.class-0-60 {
margin-bottom : 0.3072em ; 
width : 55.542% ; 
}

.class-0-61 {
font-family : praise-itcfranklingothicstd-dmcp ; 
font-size : 2.0rem ; 
line-height : 1.2em ; 
margin-bottom : 0.9216em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-62 {
font-style : italic ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-64 {
font-style : italic ; 
margin-bottom : 1.2288em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-65 {
font-family : praise-itcfranklingothicstd-dmcp ; 
font-size : 1.4rem ; 
line-height : 1.2em ; 
margin-bottom : 0.2194284em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-76 {
font-style : italic ; 
}

.class-0-75 {
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-77 {
margin-bottom : 1.2288em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

