.class-0-4940 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-4941 {
box-sizing : content-box ; 
text-align : center ; 
}

.class-0-4942 {
margin-bottom : 0.3072em ; 
width : 57.17% ; 
}

.class-0-4943 {
font-family : praise-itcfranklingothicstd-dmcp ; 
font-size : 2.0rem ; 
line-height : 1.2em ; 
margin-bottom : 0.9216em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-4945 {
width : 40.69% ; 
}

.class-0-4946 {
font-size : 0.833333rem ; 
font-style : italic ; 
line-height : 1.2em ; 
margin-bottom : 1.4745599999999999em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-4948 {
font-style : italic ; 
}

.class-0-4947 {
text-align : justify ; 
text-indent : 0.0% ; 
}

