.class-0-4811 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-4812 {
font-family : praise-itcfranklingothicstd-bkxcp ; 
font-size : 2.4rem ; 
line-height : 1.2em ; 
margin-bottom : 0.1280004em ; 
text-align : left ; 
text-indent : 0.0% ; 
}

.class-0-4813 {
box-sizing : content-box ; 
text-align : left ; 
}

.class-0-4814 {
margin-bottom : 3.072em ; 
width : 21.362% ; 
}

.class-0-4815 {
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-4816 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-4828 {
font-style : italic ; 
}

