.class-0-4561 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-4562 {
font-family : praise-itcfranklingothicstd-bkxcp ; 
font-size : 2.4rem ; 
line-height : 1.2em ; 
margin-bottom : 0.1280004em ; 
text-align : left ; 
text-indent : 0.0% ; 
}

.class-0-4563 {
box-sizing : content-box ; 
text-align : left ; 
}

.class-0-4564 {
margin-bottom : 3.072em ; 
width : 7.324% ; 
}

.class-0-4565 {
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-4566 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-4586 {
margin-bottom : 1.2288em ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-4587 {
box-sizing : content-box ; 
font-style : normal ; 
font-variant : normal ; 
font-weight : normal ; 
text-align : center ; 
}

.class-0-4588 {
margin-bottom : 1.2288em ; 
width : 10.173% ; 
}

