.class-0-509 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-510 {
font-family : praise-itcfranklingothicstd-bkxcp ; 
font-size : 2.4rem ; 
line-height : 1.2em ; 
margin-bottom : 0.1280004em ; 
text-align : left ; 
text-indent : 0.0% ; 
}

.class-0-511 {
box-sizing : content-box ; 
text-align : left ; 
}

.class-0-512 {
margin-bottom : 3.072em ; 
width : 7.324% ; 
}

.class-0-513 {
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-514 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-521 {
font-style : italic ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-527 {
font-style : italic ; 
}

