.class-0-4182 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-4183 {
font-family : praise-itcfranklingothicstd-bkxcp ; 
font-size : 2.4rem ; 
line-height : 1.2em ; 
margin-bottom : 0.1280004em ; 
text-align : left ; 
text-indent : 0.0% ; 
}

.class-0-4184 {
box-sizing : content-box ; 
text-align : left ; 
}

.class-0-4185 {
margin-bottom : 3.072em ; 
width : 7.324% ; 
}

.class-0-4186 {
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-4187 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-4209 {
margin-bottom : 1.2288em ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-4210 {
box-sizing : content-box ; 
font-style : normal ; 
font-variant : normal ; 
font-weight : normal ; 
text-align : center ; 
}

.class-0-4211 {
margin-bottom : 1.2288em ; 
width : 10.173% ; 
}

.class-0-4215 {
font-style : italic ; 
}

