.class-0-3980 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-3981 {
font-family : praise-itcfranklingothicstd-bkxcp ; 
font-size : 2.4rem ; 
line-height : 1.2em ; 
margin-bottom : 0.1280004em ; 
text-align : left ; 
text-indent : 0.0% ; 
}

.class-0-3982 {
box-sizing : content-box ; 
text-align : left ; 
}

.class-0-3983 {
margin-bottom : 3.072em ; 
width : 7.324% ; 
}

.class-0-3984 {
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-3985 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-3989 {
font-style : italic ; 
}

.class-0-3991 {
font-style : italic ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-4009 {
margin-bottom : 1.2288em ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-4010 {
box-sizing : content-box ; 
font-style : normal ; 
font-variant : normal ; 
font-weight : normal ; 
text-align : center ; 
}

.class-0-4011 {
margin-bottom : 1.2288em ; 
width : 10.173% ; 
}

