.class-0-116 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-117 {
box-sizing : content-box ; 
text-align : center ; 
}

.class-0-118 {
margin-bottom : 0.3072em ; 
width : 21.362% ; 
}

.class-0-119 {
font-family : praise-itcfranklingothicstd-dmcp ; 
font-size : 2.0rem ; 
line-height : 1.2em ; 
margin-bottom : 1.536em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-120 {
text-align : left ; 
}

