.class-0-3235 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-3236 {
font-family : praise-itcfranklingothicstd-bkxcp ; 
font-size : 2.4rem ; 
line-height : 1.2em ; 
margin-bottom : 0.1280004em ; 
text-align : left ; 
text-indent : 0.0% ; 
}

.class-0-3237 {
box-sizing : content-box ; 
text-align : left ; 
}

.class-0-3238 {
margin-bottom : 3.072em ; 
width : 7.324% ; 
}

.class-0-3239 {
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-3240 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-3279 {
font-style : italic ; 
}

.class-0-3284 {
margin-bottom : 1.2288em ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-3285 {
box-sizing : content-box ; 
font-style : normal ; 
font-variant : normal ; 
font-weight : normal ; 
text-align : center ; 
}

.class-0-3286 {
margin-bottom : 1.2288em ; 
width : 10.173% ; 
}

