.class-0-57 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 2.893272em ; 
text-align : center ; 
}

.class-0-58 {
line-height : 1.2em ; 
margin-top : 0.825em ; 
text-align : justify ; 
}

.class-0-59 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-64 {
font-size : 1.0rem ; 
}

.class-0-63 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-70 {
line-height : 1.2em ; 
margin-bottom : 2.475em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

