.class-0-8 {
line-height : 1.2em ; 
margin-top : 17.325em ; 
}

.class-0-9 {
line-height : 1.2em ; 
}

.class-0-12 {
font-size : 0.83rem ; 
line-height : 1.4457600000000002em ; 
}

.class-0-15 {
color : #0563c1 ; 
font-size : 0.83rem ; 
line-height : 1.4457600000000002em ; 
text-decoration : underline ; 
}

.class-0-14 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-bottom : 0.7054692em ; 
}

