.class-0-821 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 2.144424em ; 
text-align : center ; 
}

.class-0-822 {
line-height : 1.2em ; 
margin-top : 1.65em ; 
text-align : justify ; 
}

.class-0-823 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-889 {
line-height : 1.2em ; 
margin-top : 0.825em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-892 {
line-height : 1.2em ; 
margin-bottom : 0.7125em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

