.class-0-72 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 2.246544em ; 
text-align : center ; 
}

.class-0-73 {
line-height : 1.2em ; 
margin-top : 1.65em ; 
text-align : justify ; 
}

.class-0-74 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-79 {
line-height : 1.2em ; 
margin-top : 0.825em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-101 {
font-size : 1.0rem ; 
}

.class-0-102 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-100 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

