.class-0-356 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 2.246544em ; 
text-align : center ; 
}

.class-0-357 {
line-height : 1.2em ; 
margin-top : 1.65em ; 
text-align : justify ; 
}

.class-0-358 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-362 {
padding-left : 2.18pt ; 
}

.class-0-363 {
font-size : 1.0rem ; 
}

.class-0-361 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 2.95em ; 
}

