.class-0-484 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 2.246544em ; 
text-align : center ; 
}

.class-0-485 {
line-height : 1.2em ; 
margin-top : 1.65em ; 
text-align : justify ; 
}

.class-0-486 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-490 {
line-height : 1.2em ; 
text-indent : 1.2em ; 
}

.class-0-496 {
font-size : 1.0rem ; 
}

.class-0-497 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-495 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-578 {
line-height : 1.2em ; 
margin-bottom : 0.7054692em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

