.class-0-934 {
box-sizing : content-box ; 
margin-bottom : 0.5000004em ; 
margin-top : 2.150004em ; 
min-height : 0.45pt ; 
text-align : left ; 
width : 33.0% ; 
}

.class-0-936 {
font-size : 0.67rem ; 
line-height : 1.2em ; 
vertical-align : super ; 
}

.class-0-937 {
font-size : 0.83rem ; 
line-height : 1.2em ; 
}

.class-0-935 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
}

