.class-0-20 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.5761848em ; 
}

.class-0-22 {
color : #0563c1 ; 
font-size : 1.0rem ; 
font-weight : bold ; 
text-decoration : underline ; 
}

.class-0-21 {
line-height : 1.2em ; 
margin-bottom : 0.4220028em ; 
margin-top : 2.759124em ; 
}

.class-0-23 {
line-height : 1.2em ; 
margin-bottom : 0.4220028em ; 
}

.class-0-45 {
line-height : 1.2em ; 
margin-bottom : 7.580364em ; 
}

