.class-0-312 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 2.246544em ; 
text-align : center ; 
}

.class-0-313 {
line-height : 1.2em ; 
margin-top : 1.65em ; 
text-align : justify ; 
}

.class-0-314 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-316 {
font-size : 1.0rem ; 
}

.class-0-317 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-319 {
font-size : 0.67rem ; 
line-height : 1.790676em ; 
vertical-align : super ; 
}

.class-0-315 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

