.class-0-202 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 2.246544em ; 
text-align : center ; 
}

.class-0-203 {
line-height : 1.2em ; 
margin-top : 1.65em ; 
text-align : justify ; 
}

.class-0-204 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-207 {
line-height : 1.2em ; 
margin-top : 0.825em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-218 {
font-size : 1.0rem ; 
}

.class-0-219 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-217 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-222 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 0.825em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-249 {
line-height : 1.2em ; 
margin-bottom : 4.028904em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

