.class-0-894 {
box-sizing : content-box ; 
font-size : 1.0rem ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-895 {
width : 29.64% ; 
}

.class-0-897 {
font-size : 1.0rem ; 
}

.class-0-898 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-896 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 0.825em ; 
text-align : justify ; 
}

.class-0-926 {
line-height : 1.2em ; 
margin-top : 0.825em ; 
text-align : justify ; 
}

