.class-0-928 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
text-align : center ; 
text-indent : 1.75em ; 
}

.class-0-930 {
color : #0563c1 ; 
font-size : 1.2rem ; 
font-weight : bold ; 
text-decoration : underline ; 
}

.class-0-929 {
font-size : 1.2rem ; 
line-height : 1.2em ; 
margin-bottom : 0.5761848em ; 
text-align : center ; 
text-indent : 1.2em ; 
}

.class-0-931 {
box-sizing : content-box ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-932 {
margin-bottom : 0.6777624em ; 
width : 92.1% ; 
}

