.class-0-120 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 2.144424em ; 
text-align : center ; 
}

.class-0-121 {
line-height : 1.2em ; 
margin-top : 1.65em ; 
text-align : justify ; 
}

.class-0-122 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-138 {
font-size : 1.0rem ; 
}

.class-0-139 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-137 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-200 {
line-height : 1.2em ; 
margin-bottom : 4.005468em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

