.class-0-251 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 2.246544em ; 
text-align : center ; 
}

.class-0-252 {
line-height : 1.2em ; 
margin-top : 1.65em ; 
text-align : justify ; 
}

.class-0-253 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

