.class-0-17 {
font-style : italic ; 
line-height : 1.2em ; 
margin-top : 2.475em ; 
text-align : right ; 
text-indent : 1.2em ; 
}

.class-0-18 {
font-style : italic ; 
line-height : 1.2em ; 
margin-bottom : 3.375em ; 
margin-left : 11.58% ; 
margin-top : 0.825em ; 
text-align : right ; 
text-indent : 9.375% ; 
}

