.class-0-3259 {
font-size : 1.5rem ; 
font-weight : normal ; 
line-height : 1.2em ; 
margin-bottom : 0.1983996em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-3260 {
font-size : 1.8rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.502344em ; 
text-align : center ; 
}

.class-0-3261 {
line-height : 1.2em ; 
margin-top : 0.8999999999999999em ; 
text-indent : 3.0em ; 
}

.class-0-3263 {
font-size : 1.0rem ; 
}

.class-0-3264 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-3262 {
line-height : 1.2em ; 
text-indent : 3.0em ; 
}

.class-0-3303 {
font-size : 1.8rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.5860679999999999em ; 
text-align : center ; 
}

