.class-0-7 {
font-size : 1.5rem ; 
font-weight : normal ; 
line-height : 1.2em ; 
margin-bottom : 0.1983996em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-8 {
line-height : 1.2em ; 
margin-top : 0.8999999999999999em ; 
text-align : center ; 
}

.class-0-10 {
color : #0000ff ; 
font-size : 1.0rem ; 
text-decoration : underline ; 
}

.class-0-9 {
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-15 {
font-size : 1.0rem ; 
}

