.class-0-3685 {
font-size : 1.5rem ; 
font-weight : normal ; 
line-height : 1.2em ; 
margin-bottom : 0.1983996em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-3687 {
font-size : 1.0rem ; 
}

.class-0-3688 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-3686 {
line-height : 1.2em ; 
margin-top : 0.8999999999999999em ; 
text-indent : 3.0em ; 
}

.class-0-3691 {
font-size : 1.0rem ; 
text-decoration : underline ; 
}

.class-0-3692 {
font-size : 1.0rem ; 
font-style : italic ; 
font-weight : bold ; 
text-decoration : underline ; 
}

.class-0-3690 {
line-height : 1.2em ; 
text-indent : 3.0em ; 
}

.class-0-3696 {
color : #0000ff ; 
font-size : 1.0rem ; 
text-decoration : underline ; 
}

.class-0-3705 {
font-size : 1.0rem ; 
font-style : italic ; 
font-weight : bold ; 
}

.class-0-3712 {
font-size : 1.0rem ; 
font-weight : normal ; 
text-decoration : underline ; 
}

.class-0-3713 {
font-size : 1.0rem ; 
font-weight : bold ; 
text-decoration : underline ; 
}

.class-0-3737 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.7716048em ; 
text-align : center ; 
}

.class-0-3738 {
font-size : 1.8rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-3739 {
font-size : 1.5rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 1.0749996em ; 
text-align : center ; 
}

.class-0-3740 {
line-height : 1.2em ; 
margin-top : 0.8995763999999999em ; 
text-align : center ; 
}

.class-0-3741 {
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-3753 {
font-size : 1.5rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.7890624em ; 
text-align : center ; 
}

.class-0-3754 {
line-height : 1.2em ; 
margin-top : 0.8906255999999999em ; 
text-align : center ; 
}

.class-0-3756 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
text-align : center ; 
}

