.class-0-2034 {
font-size : 1.5rem ; 
font-weight : normal ; 
line-height : 1.2em ; 
margin-bottom : 0.1983996em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-2035 {
font-style : italic ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.8999999999999999em ; 
}

.class-0-2036 {
font-size : 1.8rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.5860679999999999em ; 
text-align : center ; 
}

.class-0-2037 {
line-height : 1.2em ; 
margin-top : 0.8999999999999999em ; 
text-indent : 3.0em ; 
}

.class-0-2038 {
line-height : 1.2em ; 
text-indent : 3.0em ; 
}

.class-0-2064 {
font-size : 1.0rem ; 
}

.class-0-2065 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-2071 {
font-style : italic ; 
line-height : 1.2em ; 
text-indent : 3.0em ; 
}

.class-0-2084 {
line-height : 1.2em ; 
text-indent : 3.35em ; 
}

.class-0-2092 {
font-size : 1.8rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.502344em ; 
text-align : center ; 
}

