.class-0-20 {
font-size : 1.5rem ; 
}

.class-0-21 {
font-size : 1.5rem ; 
font-style : italic ; 
}

.class-0-19 {
font-size : 1.5rem ; 
font-weight : normal ; 
line-height : 1.2em ; 
margin-bottom : 0.1983996em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-22 {
font-weight : bold ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-24 {
font-size : 1.0rem ; 
}

.class-0-25 {
color : #0000ff ; 
font-size : 1.0rem ; 
text-decoration : underline ; 
}

.class-0-23 {
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-31 {
font-size : 1.0rem ; 
font-weight : bold ; 
}

.class-0-30 {
text-align : center ; 
}

.class-0-29 {
font-size : 1.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-left : 7.59% ; 
padding-left : 0.122% ; 
text-indent : 0.0% ; 
}

.class-0-28 {
line-height : 1.2em ; 
list-style-type : decimal ; 
margin-top : 1.125em ; 
padding-left : 2.5em ; 
}

.class-0-33 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-36 {
line-height : 1.2em ; 
list-style-type : decimal ; 
margin-top : 0.84375em ; 
padding-left : 2.5em ; 
}

.class-0-64 {
line-height : 1.2em ; 
margin-left : 3.85% ; 
text-align : center ; 
}

.class-0-96 {
line-height : 1.2em ; 
margin-bottom : 0.3968004em ; 
text-align : center ; 
}

