.class-0-119 {
font-size : 1.5rem ; 
font-weight : normal ; 
line-height : 1.2em ; 
margin-bottom : 0.1983996em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-121 {
color : #0000ff ; 
font-size : 1.0rem ; 
text-decoration : underline ; 
}

.class-0-120 {
line-height : 1.2em ; 
margin-bottom : 0.24639959999999997em ; 
text-indent : 3.0em ; 
}

.class-0-125 {
color : #0000ff ; 
font-size : 1.0rem ; 
font-style : italic ; 
text-decoration : underline ; 
}

