.class-0-193 {
font-size : 1.5rem ; 
font-weight : normal ; 
line-height : 1.2em ; 
margin-bottom : 0.1983996em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-194 {
font-size : 1.8rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.502344em ; 
text-align : center ; 
}

.class-0-195 {
font-style : italic ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.8999999999999999em ; 
}

.class-0-196 {
font-style : italic ; 
font-weight : bold ; 
line-height : 1.2em ; 
}

.class-0-197 {
line-height : 1.2em ; 
margin-top : 0.8999999999999999em ; 
text-indent : 3.0em ; 
}

.class-0-198 {
line-height : 1.2em ; 
text-indent : 3.0em ; 
}

.class-0-203 {
font-size : 1.0rem ; 
}

.class-0-204 {
font-size : 1.0rem ; 
font-style : italic ; 
}

