.class-0-3670 {
font-size : 1.5rem ; 
font-weight : normal ; 
line-height : 1.2em ; 
margin-bottom : 0.1983996em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-3671 {
font-style : italic ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.8999999999999999em ; 
}

.class-0-3672 {
font-size : 1.8rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.5860679999999999em ; 
text-align : center ; 
}

.class-0-3673 {
line-height : 1.2em ; 
margin-top : 0.8999999999999999em ; 
text-indent : 3.0em ; 
}

.class-0-3674 {
line-height : 1.2em ; 
text-indent : 3.0em ; 
}

.class-0-3683 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 1.543212em ; 
text-align : center ; 
}

