.class-0-3776 {
font-size : 1.5rem ; 
font-weight : normal ; 
line-height : 1.2em ; 
margin-bottom : 0.1983996em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-3777 {
line-height : 1.2em ; 
margin-top : 0.8999999999999999em ; 
text-indent : 3.0em ; 
}

.class-0-3780 {
font-size : 1.0rem ; 
font-weight : bold ; 
}

.class-0-3781 {
font-size : 1.0rem ; 
}

.class-0-3782 {
color : #0000ff ; 
font-size : 1.0rem ; 
text-decoration : underline ; 
}

.class-0-3779 {
line-height : 1.2em ; 
text-indent : 3.0em ; 
}

.class-0-3803 {
line-height : 1.2em ; 
margin-top : 0.8999999999999999em ; 
text-align : center ; 
}

.class-0-3809 {
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-3819 {
line-height : 1.2em ; 
margin-bottom : 0.8999999999999999em ; 
text-align : center ; 
}

