.class-0-2137 {
font-size : 1.5rem ; 
font-weight : normal ; 
line-height : 1.2em ; 
margin-bottom : 0.1983996em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-2138 {
font-size : 1.8rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.502344em ; 
text-align : center ; 
}

.class-0-2139 {
line-height : 1.2em ; 
margin-top : 0.8999999999999999em ; 
text-indent : 3.0em ; 
}

.class-0-2141 {
font-size : 1.0rem ; 
}

.class-0-2142 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-2140 {
line-height : 1.2em ; 
text-indent : 3.0em ; 
}

.class-0-2150 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.7716048em ; 
text-align : center ; 
}

.class-0-2237 {
line-height : 1.2em ; 
margin-top : 1.05em ; 
text-indent : 3.0em ; 
}

.class-0-2283 {
font-size : 1.8rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.5860679999999999em ; 
text-align : center ; 
}

