.class-0-1845 {
font-size : 1.5rem ; 
font-weight : normal ; 
line-height : 1.2em ; 
margin-bottom : 0.1983996em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-1846 {
font-size : 1.8rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.502344em ; 
text-align : center ; 
}

.class-0-1847 {
line-height : 1.2em ; 
margin-top : 0.8999999999999999em ; 
text-indent : 3.0em ; 
}

.class-0-1848 {
line-height : 1.2em ; 
text-indent : 3.0em ; 
}

.class-0-1859 {
font-size : 1.0rem ; 
}

.class-0-1860 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-1869 {
line-height : 1.2em ; 
margin-top : 1.95em ; 
text-indent : 3.0em ; 
}

.class-0-2016 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.7716048em ; 
text-align : center ; 
}

