.class-0-116 {
font-size : 1.5rem ; 
font-weight : normal ; 
line-height : 1.2em ; 
margin-bottom : 0.1983996em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-117 {
line-height : 1.2em ; 
text-indent : 3.0em ; 
}

