.class-0-2594 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-2595 {
font-family : part0000-agaramondpro-regular ; 
font-size : 2.6rem ; 
line-height : 1.2em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-2596 {
box-sizing : content-box ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-2597 {
margin-bottom : 10.239996em ; 
width : 43.742% ; 
}

.class-0-2598 {
font-style : italic ; 
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-2599 {
margin-top : 0.7125em ; 
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-2601 {
font-style : italic ; 
}

.class-0-2600 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-2620 {
font-style : italic ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-2653 {
text-align : center ; 
text-indent : 0.0% ; 
}

