.class-0-8 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-9 {
font-family : part0000-agaramondpro-regular ; 
font-size : 1.4rem ; 
letter-spacing : 1.35pt ; 
line-height : 1.2em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-10 {
box-sizing : content-box ; 
text-align : center ; 
}

.class-0-11 {
width : 24.414% ; 
}

.class-0-12 {
font-family : part0000-agaramondpro-regular ; 
font-size : 1.3rem ; 
line-height : 1.2em ; 
margin-top : 1.417848em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-14 {
font-style : italic ; 
}

.class-0-13 {
margin-top : 0.3072em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-15 {
font-style : italic ; 
margin-top : 0.3072em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

