.class-0-1577 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-1578 {
font-family : part0000-agaramondpro-regular ; 
font-size : 2.6rem ; 
line-height : 1.2em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-1579 {
box-sizing : content-box ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-1580 {
margin-bottom : 10.239996em ; 
width : 43.742% ; 
}

.class-0-1581 {
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-1582 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-1592 {
font-style : italic ; 
}

.class-0-1597 {
font-style : italic ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-1618 {
margin-bottom : 3.072em ; 
margin-top : 3.072em ; 
width : 24.414% ; 
}

.class-0-1621 {
font-family : monospace ; 
font-style : italic ; 
margin-left : 7.0% ; 
margin-right : 7.0% ; 
margin-top : 0.7125em ; 
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-1622 {
margin-top : 0.7125em ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-1634 {
font-style : italic ; 
margin-top : 0.7125em ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

