.class-0-205 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-206 {
font-family : part0000-agaramondpro-regular ; 
font-size : 2.6rem ; 
line-height : 1.2em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-207 {
box-sizing : content-box ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-208 {
margin-bottom : 10.239996em ; 
width : 43.742% ; 
}

.class-0-209 {
font-style : italic ; 
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-210 {
margin-top : 0.7125em ; 
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-211 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-214 {
font-style : italic ; 
}

.class-0-217 {
font-style : italic ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-270 {
margin-bottom : 3.072em ; 
margin-top : 3.072em ; 
width : 24.414% ; 
}

.class-0-271 {
text-align : justify ; 
text-indent : 0.0% ; 
}

