.class-0-2384 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-2385 {
font-family : part0000-agaramondpro-regular ; 
font-size : 2.6rem ; 
line-height : 1.2em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-2386 {
box-sizing : content-box ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-2387 {
margin-bottom : 10.239996em ; 
width : 43.742% ; 
}

.class-0-2388 {
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-2389 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-2392 {
font-style : italic ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-2395 {
font-style : italic ; 
}

.class-0-2398 {
font-family : monospace ; 
font-style : italic ; 
margin-left : 7.0% ; 
margin-right : 7.0% ; 
margin-top : 0.7125em ; 
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-2399 {
margin-top : 0.7125em ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

