.class-0-83 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-84 {
font-family : part0000-agaramondpro-regular ; 
font-size : 1.4rem ; 
line-height : 1.2em ; 
margin-bottom : 2.194284em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-85 {
padding-left : 7.0% ; 
text-align : left ; 
text-indent : -6.719% ; 
}

