.class-0-2655 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-2656 {
font-family : part0000-agaramondpro-regular ; 
font-size : 1.4rem ; 
line-height : 1.2em ; 
margin-bottom : 3.291432em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-2657 {
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-2658 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-2662 {
font-style : italic ; 
margin-top : 0.7125em ; 
text-align : right ; 
text-indent : 0.0% ; 
}

