.class-0-2664 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-2665 {
font-family : part0000-agaramondpro-regular ; 
font-size : 1.4rem ; 
line-height : 1.2em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-2666 {
box-sizing : content-box ; 
text-align : center ; 
}

.class-0-2667 {
margin-top : 4.608em ; 
width : 39.266% ; 
}

.class-0-2668 {
font-size : 0.833333rem ; 
font-style : italic ; 
line-height : 1.2em ; 
margin-bottom : 2.21184em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-2670 {
font-style : italic ; 
}

.class-0-2669 {
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-2673 {
text-align : justify ; 
text-indent : 6.719% ; 
}

