.class-0-198 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 2.246544em ; 
text-align : center ; 
}

.class-0-199 {
line-height : 1.2em ; 
margin-top : 1.65em ; 
text-align : justify ; 
}

.class-0-200 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-203 {
line-height : 1.2em ; 
margin-top : 0.825em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-218 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.55em ; 
}

.class-0-236 {
line-height : 1.2em ; 
margin-bottom : 4.028904em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

