.class-0-407 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 2.246544em ; 
text-align : center ; 
}

.class-0-408 {
line-height : 1.2em ; 
margin-top : 1.65em ; 
text-align : justify ; 
}

.class-0-409 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-411 {
line-height : 1.2em ; 
text-indent : 1.2em ; 
}

.class-0-438 {
line-height : 1.2em ; 
margin-top : 0.825em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-446 {
font-size : 1.0rem ; 
}

.class-0-447 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-445 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-470 {
line-height : 1.2em ; 
margin-bottom : 1.530468em ; 
margin-top : 0.825em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

