.class-0-902 {
box-sizing : content-box ; 
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 0.825em ; 
}

.class-0-903 {
box-sizing : content-box ; 
font-size : 1.0rem ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-904 {
width : 37.48% ; 
}

.class-0-906 {
font-size : 1.0rem ; 
}

.class-0-907 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-905 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 0.825em ; 
text-align : justify ; 
}

.class-0-915 {
line-height : 1.2em ; 
margin-top : 0.825em ; 
text-align : justify ; 
}

