.class-0-7 {
line-height : 1.2em ; 
margin-top : 18.15em ; 
}

.class-0-8 {
line-height : 1.2em ; 
}

.class-0-10 {
font-size : 0.92rem ; 
line-height : 1.3042319999999998em ; 
}

.class-0-13 {
color : #0563c1 ; 
font-size : 0.92rem ; 
line-height : 1.3042319999999998em ; 
text-decoration : underline ; 
}

.class-0-12 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-bottom : 0.7054692em ; 
}

