.class-0-472 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 2.246544em ; 
text-align : center ; 
}

.class-0-473 {
line-height : 1.2em ; 
margin-top : 1.65em ; 
text-align : justify ; 
}

.class-0-474 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-478 {
line-height : 1.2em ; 
text-indent : 1.2em ; 
}

.class-0-484 {
font-size : 1.0rem ; 
}

.class-0-485 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-483 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-542 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.55em ; 
}

.class-0-567 {
line-height : 1.2em ; 
margin-bottom : 8.25em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

