.class-0-917 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
text-indent : 42.0% ; 
}

.class-0-919 {
color : #0563c1 ; 
font-size : 1.0rem ; 
font-weight : bold ; 
text-decoration : underline ; 
}

.class-0-918 {
line-height : 1.2em ; 
margin-bottom : 0.6777624em ; 
text-align : center ; 
text-indent : 2.1em ; 
}

.class-0-920 {
box-sizing : content-box ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-921 {
margin-bottom : 0.6777624em ; 
width : 92.1% ; 
}

