.class-0-569 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 2.246544em ; 
text-align : center ; 
}

.class-0-570 {
line-height : 1.2em ; 
margin-top : 1.65em ; 
text-align : justify ; 
}

.class-0-571 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-573 {
font-size : 1.0rem ; 
}

.class-0-574 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-572 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-605 {
font-weight : normal ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-606 {
line-height : 1.2em ; 
text-indent : 1.2em ; 
}

.class-0-635 {
line-height : 1.2em ; 
margin-top : 1.65em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-642 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 0.825em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

