.class-0-15 {
font-style : italic ; 
line-height : 1.2em ; 
margin-bottom : 0.6777624em ; 
margin-top : 3.2968919999999997em ; 
text-align : right ; 
text-indent : 9.375% ; 
}

.class-0-16 {
font-style : italic ; 
line-height : 1.2em ; 
margin-bottom : 2.55em ; 
text-align : right ; 
text-indent : 9.375% ; 
}

