.class-0-826 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 2.246544em ; 
text-align : center ; 
}

.class-0-827 {
line-height : 1.2em ; 
margin-top : 1.65em ; 
text-align : justify ; 
}

.class-0-828 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-831 {
font-size : 1.0rem ; 
}

.class-0-832 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-830 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-897 {
line-height : 1.2em ; 
margin-top : 1.65em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-900 {
line-height : 1.2em ; 
margin-bottom : 1.5374999999999999em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

