.class-0-343 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 2.246544em ; 
text-align : center ; 
}

.class-0-344 {
line-height : 1.2em ; 
margin-top : 1.65em ; 
text-align : justify ; 
}

.class-0-346 {
font-size : 1.0rem ; 
}

.class-0-347 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-345 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-349 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.2em ; 
}

.class-0-351 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 1.75em ; 
}

