.class-0-4 {
font-size : 4.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 2.5753559999999998em ; 
}

.class-0-5 {
font-size : 1.7rem ; 
line-height : 1.2em ; 
margin-bottom : 1.402404em ; 
}

