.class-0-12 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-13 {
font-style : italic ; 
text-align : left ; 
text-indent : 0.0% ; 
}

.class-0-15 {
font-style : italic ; 
}

.class-0-14 {
margin-top : 1.2288em ; 
text-align : left ; 
text-indent : 0.0% ; 
}

.class-0-16 {
text-align : left ; 
text-indent : 0.0% ; 
}

