.class-0-57 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-58 {
font-style : italic ; 
text-align : right ; 
text-indent : 0.0% ; 
}

.class-0-59 {
font-style : italic ; 
margin-top : 1.2288em ; 
text-align : right ; 
text-indent : 0.0% ; 
}

