.class-0-3375 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-3376 {
font-family : nav-gotham-bold ; 
font-size : 1.6rem ; 
font-weight : bold ; 
letter-spacing : 0.45pt ; 
line-height : 1.2em ; 
margin-bottom : 1.92em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-3377 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-3381 {
margin-bottom : 1.2288em ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-3397 {
font-style : italic ; 
}

