.class-0-8 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-9 {
box-sizing : content-box ; 
text-align : center ; 
}

.class-0-10 {
width : 100.0% ; 
}

