.class-0-1867 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 2.3em ; 
}

.class-0-1868 {
line-height : 1.2em ; 
margin-top : 6.0em ; 
text-align : justify ; 
text-indent : 2.3em ; 
}

