.class-0-2000 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 2.3em ; 
}

.class-0-2001 {
line-height : 1.2em ; 
margin-top : 6.0em ; 
text-align : justify ; 
text-indent : 2.3em ; 
}

.class-0-2156 {
line-height : 1.2em ; 
margin-top : 27.599999999999998em ; 
text-align : justify ; 
text-indent : 2.3em ; 
}

.class-0-2165 {
line-height : 1.2em ; 
margin-top : 3.5999999999999996em ; 
text-align : center ; 
text-indent : 2.3em ; 
}

.class-0-2167 {
font-size : 1.0rem ; 
}

.class-0-2168 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-2166 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 2.4em ; 
text-align : justify ; 
text-indent : 2.3em ; 
}

.class-0-2174 {
line-height : 1.2em ; 
margin-top : 1.2em ; 
text-align : justify ; 
text-indent : 2.3em ; 
}

.class-0-2176 {
line-height : 1.2em ; 
margin-bottom : 3.1125em ; 
margin-top : 1.2em ; 
text-align : justify ; 
text-indent : 2.3em ; 
}

