.class-0-1643 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 2.3em ; 
}

.class-0-1645 {
font-size : 1.0rem ; 
}

.class-0-1646 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-1644 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
text-align : justify ; 
text-indent : 2.3em ; 
}

.class-0-1655 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 2.3em ; 
}

.class-0-1771 {
line-height : 1.2em ; 
margin-top : 1.2em ; 
text-align : justify ; 
text-indent : 2.3em ; 
}

