.class-0-634 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 2.3em ; 
}

.class-0-635 {
line-height : 1.2em ; 
margin-top : 4.8em ; 
text-align : justify ; 
text-indent : 2.3em ; 
}

.class-0-681 {
line-height : 1.2em ; 
margin-top : 1.2em ; 
text-align : justify ; 
text-indent : 2.3em ; 
}

.class-0-717 {
font-size : 1.0rem ; 
}

.class-0-718 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-716 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 2.3em ; 
}

.class-0-787 {
line-height : 1.2em ; 
margin-left : 6.35% ; 
text-align : justify ; 
}

