.class-0-4 {
font-size : 3.0rem ; 
line-height : 1.2em ; 
margin-top : 3.999996em ; 
text-align : center ; 
text-indent : 0.767em ; 
}

.class-0-5 {
font-size : 3.0rem ; 
line-height : 1.2em ; 
text-align : center ; 
text-indent : 0.767em ; 
}

.class-0-6 {
font-size : 1.8rem ; 
line-height : 1.2em ; 
text-align : center ; 
text-indent : 1.278em ; 
}

