.class-0-448 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 2.3em ; 
}

.class-0-449 {
line-height : 1.2em ; 
margin-top : 6.0em ; 
text-align : justify ; 
text-indent : 2.3em ; 
}

.class-0-495 {
line-height : 1.2em ; 
margin-top : 1.2em ; 
text-align : justify ; 
text-indent : 2.3em ; 
}

