.class-0-5783 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.1375812em ; 
margin-top : 0.5503272em ; 
page-break-after : avoid ; 
text-align : center ; 
}

.class-0-5784 {
line-height : 1.2em ; 
margin-top : 2.671872em ; 
text-align : justify ; 
}

.class-0-5785 {
line-height : 1.2em ; 
margin-top : 0.8906255999999999em ; 
text-align : justify ; 
}

.class-0-5787 {
line-height : 1.2em ; 
margin-bottom : 5.501951999999999em ; 
margin-top : 1.781256em ; 
text-align : justify ; 
}

