.class-0-4874 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.1323072em ; 
margin-top : 7.447451999999999em ; 
page-break-after : avoid ; 
text-align : center ; 
}

.class-0-4875 {
line-height : 1.2em ; 
margin-top : 4.074611999999999em ; 
text-align : justify ; 
}

.class-0-4876 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 2.4em ; 
}

.class-0-4881 {
font-size : 1.0rem ; 
}

.class-0-4882 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-4907 {
line-height : 1.2em ; 
margin-top : 0.8999999999999999em ; 
text-align : justify ; 
}

.class-0-4923 {
line-height : 1.2em ; 
margin-bottom : 0.8999999999999999em ; 
text-align : justify ; 
text-indent : 2.4em ; 
}

