.class-0-160 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.1323072em ; 
margin-top : 2.8955159999999998em ; 
page-break-after : avoid ; 
text-align : center ; 
}

.class-0-161 {
line-height : 1.2em ; 
margin-top : 1.3125em ; 
text-align : justify ; 
}

.class-0-162 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 2.4em ; 
}

.class-0-165 {
line-height : 1.2em ; 
margin-top : 0.8999999999999999em ; 
text-align : justify ; 
}

.class-0-173 {
line-height : 1.2em ; 
margin-bottom : 0.8999999999999999em ; 
margin-top : 0.8999999999999999em ; 
text-align : justify ; 
}

