.class-0-7 {
line-height : 1.2em ; 
}

.class-0-9 {
line-height : 1.2em ; 
margin-top : 0.8999999999999999em ; 
}

.class-0-12 {
color : #0000ff ; 
font-size : 1.0rem ; 
text-decoration : underline ; 
}

.class-0-14 {
font-size : 1.0rem ; 
}

.class-0-15 {
font-size : 1.0rem ; 
font-style : italic ; 
}

