.class-0-175 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.1323072em ; 
margin-top : 7.019616em ; 
page-break-after : avoid ; 
text-align : center ; 
}

.class-0-176 {
line-height : 1.2em ; 
margin-top : 3.5999999999999996em ; 
text-align : justify ; 
text-indent : 2.4em ; 
}

.class-0-177 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 2.4em ; 
}

.class-0-181 {
font-size : 1.0rem ; 
}

.class-0-182 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-203 {
line-height : 1.2em ; 
margin-top : 0.8999999999999999em ; 
text-align : justify ; 
}

.class-0-215 {
line-height : 1.2em ; 
margin-right : 1.05% ; 
margin-top : 0.8999999999999999em ; 
text-align : justify ; 
}

.class-0-218 {
line-height : 1.2em ; 
margin-bottom : 0.8999999999999999em ; 
text-align : justify ; 
text-indent : 2.4em ; 
}

