.class-0-5758 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.1323072em ; 
margin-top : 7.447451999999999em ; 
page-break-after : avoid ; 
text-align : center ; 
}

.class-0-5759 {
line-height : 1.2em ; 
margin-top : 4.074611999999999em ; 
text-align : justify ; 
}

.class-0-5761 {
font-size : 1.0rem ; 
}

.class-0-5762 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-5760 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 2.4em ; 
}

.class-0-5764 {
font-style : italic ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.34239959999999997em ; 
margin-top : 1.374612em ; 
text-align : center ; 
}

.class-0-5765 {
font-style : italic ; 
line-height : 1.2em ; 
margin-bottom : 1.6311em ; 
text-align : justify ; 
}

