.class-0-142 {
font-size : 1.2rem ; 
font-style : italic ; 
line-height : 1.2em ; 
margin-top : 2.2265639999999998em ; 
text-align : right ; 
text-indent : 2.5em ; 
}

.class-0-143 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.742188em ; 
text-align : right ; 
text-indent : 2.5em ; 
}

