.class-0-763 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.1323072em ; 
margin-top : 7.019616em ; 
page-break-after : avoid ; 
text-align : center ; 
}

.class-0-765 {
font-size : 1.0rem ; 
}

.class-0-766 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-764 {
line-height : 1.2em ; 
margin-top : 3.5999999999999996em ; 
text-align : justify ; 
}

.class-0-768 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 2.4em ; 
}

.class-0-775 {
line-height : 1.2em ; 
margin-top : 0.8999999999999999em ; 
text-align : justify ; 
}

.class-0-776 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 2.2em ; 
}

.class-0-813 {
line-height : 1.2em ; 
margin-bottom : 0.8999999999999999em ; 
text-align : justify ; 
text-indent : 2.4em ; 
}

