.class-0-20 {
color : #365f91 ; 
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 1.257768em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
}

.class-0-22 {
color : #0000ff ; 
font-size : 1.0rem ; 
font-style : italic ; 
font-weight : bold ; 
text-decoration : underline ; 
}

.class-0-21 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 0.3440004em ; 
}

