.class-0-3684 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.1323072em ; 
margin-top : 7.447451999999999em ; 
page-break-after : avoid ; 
text-align : center ; 
}

.class-0-3685 {
line-height : 1.2em ; 
margin-top : 4.074611999999999em ; 
text-align : justify ; 
}

.class-0-3686 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 2.4em ; 
}

.class-0-3688 {
font-size : 1.0rem ; 
}

.class-0-3689 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-3717 {
font-style : italic ; 
line-height : 1.2em ; 
margin-top : 0.8999999999999999em ; 
text-align : justify ; 
text-indent : 22.188% ; 
}

.class-0-3718 {
font-style : italic ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 22.188% ; 
}

.class-0-3728 {
line-height : 1.2em ; 
margin-top : 0.8999999999999999em ; 
text-align : justify ; 
text-indent : 2.4em ; 
}

.class-0-3759 {
line-height : 1.2em ; 
margin-top : 0.8999999999999999em ; 
text-align : justify ; 
}

.class-0-3825 {
line-height : 1.2em ; 
margin-bottom : 0.8999999999999999em ; 
text-align : justify ; 
text-indent : 2.4em ; 
}

