.class-0-4 {
font-size : 4.0rem ; 
line-height : 1.2em ; 
margin-top : 0.44999999999999996em ; 
text-align : center ; 
}

.class-0-5 {
font-size : 2.0rem ; 
line-height : 1.2em ; 
margin-bottom : 0.8999999999999999em ; 
margin-top : 1.3499999999999999em ; 
text-align : center ; 
}

