.class-0-5767 {
font-size : 1.3rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.5292311999999999em ; 
page-break-after : avoid ; 
text-align : center ; 
}

.class-0-5768 {
font-size : 0.92rem ; 
line-height : 1.2em ; 
margin-top : 2.213184em ; 
text-align : justify ; 
}

.class-0-5769 {
font-size : 0.92rem ; 
line-height : 1.2em ; 
text-align : justify ; 
}

.class-0-5770 {
font-size : 0.92rem ; 
line-height : 1.2em ; 
margin-bottom : 0.9680712em ; 
text-align : justify ; 
}

.class-0-5771 {
box-sizing : content-box ; 
font-size : 1.0rem ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-5772 {
width : 23.93% ; 
}

.class-0-5773 {
font-size : 0.92rem ; 
line-height : 1.2em ; 
margin-top : 0.9680712em ; 
text-align : justify ; 
}

.class-0-5776 {
font-size : 0.92rem ; 
line-height : 1.2em ; 
}

.class-0-5777 {
color : #0000ff ; 
font-size : 1.0rem ; 
text-decoration : underline ; 
}

.class-0-5775 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
text-align : justify ; 
}

.class-0-5779 {
font-size : 0.92rem ; 
font-weight : normal ; 
line-height : 1.2em ; 
text-align : justify ; 
}

.class-0-5781 {
width : 24.43% ; 
}

