.class-0-1911 {
line-height : 1.2em ; 
margin-bottom : 0.2751996em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-1912 {
line-height : 1.2em ; 
margin-bottom : 0.2751996em ; 
margin-top : 4.744332em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-2066 {
line-height : 1.2em ; 
margin-bottom : 0.2751996em ; 
margin-top : 3.162888em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-2075 {
line-height : 1.2em ; 
margin-bottom : 0.2751996em ; 
margin-top : 6.325776em ; 
text-align : center ; 
text-indent : 3.0em ; 
}

.class-0-2077 {
line-height : 1.2em ; 
margin-bottom : 0.2751996em ; 
margin-top : 1.581444em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-2078 {
line-height : 1.2em ; 
margin-bottom : 7.68822em ; 
margin-top : 1.581444em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

