.class-0-1618 {
line-height : 1.2em ; 
margin-bottom : 0.2751996em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-1619 {
line-height : 1.2em ; 
margin-bottom : 0.2751996em ; 
margin-top : 4.744332em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-1692 {
line-height : 1.2em ; 
margin-bottom : 0.2751996em ; 
margin-top : 3.162888em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-1753 {
font-size : 1.0rem ; 
}

.class-0-1754 {
padding-left : 12.61pt ; 
}

.class-0-1755 {
padding-left : 35.4pt ; 
}

