.class-0-448 {
line-height : 1.2em ; 
margin-bottom : 0.2751996em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-449 {
line-height : 1.2em ; 
margin-bottom : 0.2751996em ; 
margin-top : 4.744332em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-494 {
line-height : 1.2em ; 
margin-bottom : 0.2751996em ; 
margin-top : 3.162888em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

