.class-0-4 {
font-size : 1.7rem ; 
line-height : 1.2em ; 
margin-bottom : 0.16310519999999998em ; 
margin-top : 5.6237520000000005em ; 
text-align : center ; 
text-indent : 3.0em ; 
}

.class-0-5 {
font-size : 1.5rem ; 
line-height : 1.2em ; 
margin-bottom : 0.18346679999999999em ; 
text-align : center ; 
text-indent : 3.0em ; 
}

