.class-0-196 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-197 {
font-style : italic ; 
padding-left : 10.0% ; 
padding-right : 10.0% ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-198 {
margin-top : 0.7125em ; 
text-align : right ; 
text-indent : 0.0% ; 
}

