.class-0-111 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-112 {
font-family : 01_praisepage-brothers ; 
font-size : 1.8rem ; 
font-weight : bold ; 
letter-spacing : 2.25pt ; 
line-height : 1.2em ; 
margin-bottom : 1.706664em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-113 {
padding-left : 7.0% ; 
text-align : left ; 
text-indent : -6.719% ; 
}

