.class-0-63 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-bottom : 0.6399995999999999em ; 
margin-top : 0.6399995999999999em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-64 {
text-align : center ; 
}

.class-0-65 {
width : 100.0% ; 
}

