.class-0-3035 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-3036 {
font-family : 01_praisepage-brothers ; 
font-size : 1.7rem ; 
font-weight : bold ; 
letter-spacing : 2.25pt ; 
line-height : 1.2em ; 
margin-bottom : 3.975528em ; 
text-align : right ; 
text-indent : 0.0% ; 
}

.class-0-3038 {
background-color : inherit ; 
float : left ; 
font-size : 5.1em ; 
line-height : 1.0em ; 
margin-bottom : -0.2em ; 
margin-left : 0.0em ; 
margin-right : 0.1em ; 
margin-top : -0.175em ; 
text-decoration : inherit ; 
}

.class-0-3037 {
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-3039 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-3042 {
font-family : 01_praisepage-lucidahandwriting-italic ; 
font-size : 1.1rem ; 
font-style : italic ; 
line-height : 1.2em ; 
margin-left : 7.0% ; 
margin-right : 7.0% ; 
margin-top : 0.6477276em ; 
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-3043 {
font-family : 01_praisepage-lucidahandwriting-italic ; 
font-size : 1.1rem ; 
font-style : italic ; 
line-height : 1.2em ; 
margin-left : 7.0% ; 
margin-right : 7.0% ; 
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-3046 {
margin-top : 0.7125em ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-3054 {
font-style : italic ; 
}

.class-0-3146 {
box-sizing : content-box ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-3147 {
margin-bottom : 3.072em ; 
margin-top : 3.072em ; 
width : 9.155% ; 
}

