.class-0-4779 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-4780 {
font-family : 01_praisepage-brothers ; 
font-size : 1.8rem ; 
font-weight : bold ; 
letter-spacing : 2.25pt ; 
line-height : 1.2em ; 
margin-bottom : 2.559996em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-4781 {
box-sizing : content-box ; 
text-align : center ; 
}

.class-0-4782 {
margin-bottom : 0.3072em ; 
width : 76.294% ; 
}

.class-0-4783 {
font-size : 0.833333rem ; 
font-style : italic ; 
line-height : 1.2em ; 
margin-bottom : 2.21184em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-4785 {
background-color : inherit ; 
float : left ; 
font-size : 5.1em ; 
line-height : 1.0em ; 
margin-bottom : -0.2em ; 
margin-left : 0.0em ; 
margin-right : 0.1em ; 
margin-top : -0.175em ; 
text-decoration : inherit ; 
}

.class-0-4786 {
font-style : italic ; 
}

.class-0-4784 {
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-4801 {
text-align : justify ; 
text-indent : 6.719% ; 
}

