.class-0-67 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-68 {
font-family : 01_praisepage-agaramondpro-regular ; 
font-size : 1.2rem ; 
line-height : 1.2em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-69 {
font-style : italic ; 
margin-top : 1.8432em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-70 {
font-style : italic ; 
margin-top : 0.6144em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-71 {
font-family : 01_praisepage-agaramondpro-regular ; 
font-size : 1.4rem ; 
line-height : 1.2em ; 
margin-top : 0.5089284em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-76 {
font-style : italic ; 
}

.class-0-75 {
margin-top : 0.6144em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

