.class-0-2340 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-2341 {
font-family : 01_praisepage-brothers ; 
font-size : 1.7rem ; 
font-weight : bold ; 
letter-spacing : 2.25pt ; 
line-height : 1.2em ; 
margin-bottom : 3.975528em ; 
text-align : right ; 
text-indent : 0.0% ; 
}

.class-0-2343 {
background-color : inherit ; 
float : left ; 
font-size : 5.1em ; 
line-height : 1.0em ; 
margin-bottom : -0.2em ; 
margin-left : 0.0em ; 
margin-right : 0.1em ; 
margin-top : -0.175em ; 
text-decoration : inherit ; 
}

.class-0-2342 {
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-2344 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-2487 {
box-sizing : content-box ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-2488 {
margin-bottom : 3.072em ; 
margin-top : 3.072em ; 
width : 9.155% ; 
}

.class-0-2502 {
font-style : italic ; 
}

.class-0-2505 {
font-weight : bold ; 
}

.class-0-2506 {
font-size : 0.833333rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
}

.class-0-2504 {
margin-bottom : 0.9216em ; 
margin-top : 0.7125em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-2510 {
margin-bottom : 0.9216em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-2521 {
margin-top : 0.7125em ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

