.class-0-3494 {
color : #2f5496 ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.2736em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 29.375% ; 
}

.class-0-3495 {
box-sizing : content-box ; 
font-size : 0.92rem ; 
line-height : 1.2227999999999999em ; 
text-align : center ; 
}

.class-0-3496 {
margin-bottom : 0.3891288em ; 
margin-left : 13.513% ; 
width : 30.69% ; 
}

.class-0-3498 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-weight : bold ; 
}

.class-0-3499 {
color : #231f20 ; 
font-size : 1.0rem ; 
}

.class-0-3497 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 1.6306679999999998em ; 
text-align : justify ; 
}

.class-0-3500 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-3503 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.017rem ; 
}

.class-0-3501 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-3520 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.17rem ; 
}

.class-0-3522 {
font-size : 1.0rem ; 
}

.class-0-3547 {
font-size : 0.83rem ; 
line-height : 1.446em ; 
}

.class-0-3545 {
line-height : 1.2em ; 
margin-bottom : 0.5056644em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

