.class-0-6045 {
font-size : 1.5rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.2432004em ; 
text-align : center ; 
text-indent : 3.0em ; 
}

.class-0-6047 {
font-size : 1.0rem ; 
font-weight : bold ; 
}

.class-0-6048 {
font-size : 1.0rem ; 
}

.class-0-6046 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-indent : 3.0em ; 
}

.class-0-6058 {
font-size : 2.0rem ; 
line-height : 1.2em ; 
margin-top : 1.5556679999999998em ; 
text-align : center ; 
text-indent : 29.375% ; 
}

.class-0-6059 {
box-sizing : content-box ; 
margin-bottom : 0.5000004em ; 
margin-top : 3.4113239999999996em ; 
min-height : 0.45pt ; 
text-align : left ; 
width : 33.0% ; 
}

.class-0-6061 {
color : #231f20 ; 
font-size : 0.67rem ; 
font-style : italic ; 
line-height : 1.2em ; 
vertical-align : super ; 
}

.class-0-6062 {
font-size : 0.67rem ; 
line-height : 1.2em ; 
}

.class-0-6060 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-bottom : 0.6080004em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

