.class-0-3717 {
color : #2f5496 ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.18239999999999998em ; 
margin-top : 0.2736em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 29.375% ; 
}

.class-0-3718 {
box-sizing : content-box ; 
font-size : 0.92rem ; 
line-height : 1.2227999999999999em ; 
text-align : center ; 
}

.class-0-3719 {
margin-bottom : 0.3891288em ; 
margin-left : 13.513% ; 
width : 30.69% ; 
}

.class-0-3721 {
font-size : 1.0rem ; 
font-weight : bold ; 
line-height : 1.575em ; 
}

.class-0-3722 {
font-size : 1.3rem ; 
font-weight : bold ; 
}

.class-0-3723 {
font-size : 1.0rem ; 
line-height : 1.575em ; 
}

.class-0-3720 {
font-size : 1.3rem ; 
line-height : 1.2114em ; 
margin-bottom : 0.2779752em ; 
margin-top : 1.242552em ; 
text-align : justify ; 
}

.class-0-3724 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-3769 {
font-size : 1.0rem ; 
}

.class-0-3770 {
font-size : 1.0rem ; 
letter-spacing : 0.25rem ; 
}

.class-0-3771 {
font-size : 0.92rem ; 
line-height : 1.3044em ; 
}

.class-0-3787 {
line-height : 1.2em ; 
margin-bottom : 0.5056644em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

