.class-0-3285 {
color : #2f5496 ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.18239999999999998em ; 
margin-top : 0.2736em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 29.375% ; 
}

.class-0-3286 {
box-sizing : content-box ; 
font-size : 0.92rem ; 
line-height : 1.2227999999999999em ; 
text-align : center ; 
}

.class-0-3287 {
margin-bottom : 0.3891288em ; 
margin-left : 13.513% ; 
width : 30.69% ; 
}

.class-0-3289 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-weight : bold ; 
}

.class-0-3290 {
color : #231f20 ; 
font-size : 1.0rem ; 
}

.class-0-3288 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 1.6306679999999998em ; 
text-align : justify ; 
}

.class-0-3291 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-3294 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.083rem ; 
}

.class-0-3296 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.087rem ; 
}

.class-0-3312 {
font-size : 1.0rem ; 
}

.class-0-3292 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-3322 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.13rem ; 
}

.class-0-3326 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.14rem ; 
}

.class-0-3343 {
color : #231f20 ; 
font-style : italic ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 1.705668em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-3344 {
color : #231f20 ; 
font-style : italic ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-3346 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 1.705668em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-3367 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.22rem ; 
}

.class-0-3377 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.096rem ; 
}

.class-0-3379 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.1rem ; 
}

.class-0-3400 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.054rem ; 
}

.class-0-3402 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.058rem ; 
}

.class-0-3427 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.071rem ; 
}

.class-0-3436 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.6345708em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

