.class-0-339 {
color : #2f5496 ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.18239999999999998em ; 
margin-top : 0.2736em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 29.375% ; 
}

.class-0-340 {
box-sizing : content-box ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-341 {
margin-bottom : 0.36479999999999996em ; 
margin-left : 14.688% ; 
width : 30.69% ; 
}

.class-0-343 {
font-size : 1.0rem ; 
font-weight : bold ; 
}

.class-0-344 {
font-size : 1.0rem ; 
}

.class-0-342 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 1.705668em ; 
text-align : justify ; 
}

.class-0-345 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-358 {
font-size : 1.0rem ; 
letter-spacing : 0.25rem ; 
}

.class-0-359 {
font-size : 0.92rem ; 
line-height : 1.3044em ; 
}

.class-0-367 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-377 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-left : 1.18% ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-387 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-left : 6.54% ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-394 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.5056644em ; 
margin-left : 6.54% ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

