.class-0-1146 {
color : #2f5496 ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.18239999999999998em ; 
margin-top : 0.2736em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 29.375% ; 
}

.class-0-1147 {
box-sizing : content-box ; 
font-size : 0.92rem ; 
line-height : 1.2227999999999999em ; 
text-align : center ; 
}

.class-0-1148 {
margin-bottom : 0.3891288em ; 
margin-left : 13.513% ; 
width : 30.69% ; 
}

.class-0-1150 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-weight : bold ; 
}

.class-0-1151 {
color : #231f20 ; 
font-size : 1.0rem ; 
}

.class-0-1152 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.092rem ; 
}

.class-0-1154 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.096rem ; 
}

.class-0-1156 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.1rem ; 
}

.class-0-1170 {
font-size : 1.0rem ; 
}

.class-0-1149 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 1.6306679999999998em ; 
text-align : justify ; 
}

.class-0-1172 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-1177 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.05rem ; 
}

.class-0-1187 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.054rem ; 
}

.class-0-1175 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-1216 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.11rem ; 
}

.class-0-1218 {
color : #231f20 ; 
font-style : italic ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-1226 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-1227 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-style : italic ; 
letter-spacing : 0.083rem ; 
}

.class-0-1231 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-style : italic ; 
letter-spacing : 0.087rem ; 
}

.class-0-1253 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.6345708em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

