.class-0-5595 {
color : #2f5496 ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.18239999999999998em ; 
margin-top : 0.2736em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 29.375% ; 
}

.class-0-5596 {
box-sizing : content-box ; 
font-size : 0.92rem ; 
line-height : 1.2227999999999999em ; 
text-align : center ; 
}

.class-0-5597 {
margin-bottom : 0.3891288em ; 
margin-left : 13.513% ; 
width : 30.69% ; 
}

.class-0-5599 {
font-size : 1.0rem ; 
font-weight : bold ; 
}

.class-0-5600 {
font-size : 1.0rem ; 
}

.class-0-5598 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 1.705668em ; 
text-align : justify ; 
}

.class-0-5601 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-5605 {
font-size : 1.0rem ; 
letter-spacing : 0.25rem ; 
}

.class-0-5606 {
font-size : 0.92rem ; 
line-height : 1.3044em ; 
}

.class-0-5609 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-5612 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-5613 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-style : italic ; 
letter-spacing : 0.19rem ; 
}

.class-0-5615 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-style : italic ; 
letter-spacing : 0.25rem ; 
}

.class-0-5611 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 1.5556679999999998em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-5618 {
color : #231f20 ; 
font-style : italic ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-5634 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-style : italic ; 
letter-spacing : 0.23rem ; 
}

.class-0-5641 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-5644 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 1.6306679999999998em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-5646 {
color : #231f20 ; 
font-size : 1.0rem ; 
}

.class-0-5647 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.25rem ; 
}

.class-0-5651 {
line-height : 1.2em ; 
margin-bottom : 0.6345708em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

