.class-0-396 {
color : #2f5496 ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.18239999999999998em ; 
margin-top : 0.2736em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 29.375% ; 
}

.class-0-397 {
box-sizing : content-box ; 
font-size : 0.92rem ; 
line-height : 1.2227999999999999em ; 
text-align : center ; 
}

.class-0-398 {
margin-bottom : 0.3891288em ; 
margin-left : 13.513% ; 
width : 30.69% ; 
}

.class-0-399 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.3072264em ; 
margin-top : 1.3733039999999999em ; 
text-align : center ; 
}

.class-0-401 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-weight : bold ; 
}

.class-0-402 {
color : #231f20 ; 
font-size : 1.0rem ; 
}

.class-0-400 {
line-height : 1.2em ; 
margin-bottom : 0.8768003999999999em ; 
margin-top : 1.705668em ; 
text-align : justify ; 
}

.class-0-405 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.079rem ; 
}

.class-0-407 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.083rem ; 
}

.class-0-403 {
line-height : 1.2em ; 
margin-bottom : 0.8768003999999999em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-423 {
font-size : 1.0rem ; 
}

.class-0-425 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.071rem ; 
}

.class-0-429 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.075rem ; 
}

.class-0-441 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.096rem ; 
}

.class-0-443 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.1rem ; 
}

.class-0-459 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.15rem ; 
}

.class-0-473 {
color : #231f20 ; 
font-size : 0.92rem ; 
line-height : 1.3044em ; 
}

.class-0-484 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.8768003999999999em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-487 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.042rem ; 
}

.class-0-489 {
color : #231f20 ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-490 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.8768003999999999em ; 
margin-top : 0.8768003999999999em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-506 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.087rem ; 
}

.class-0-521 {
line-height : 1.2em ; 
margin-bottom : 0.8768003999999999em ; 
margin-top : 0.8768003999999999em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-533 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.054rem ; 
}

.class-0-535 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.058rem ; 
}

.class-0-570 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-top : 0.8768003999999999em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-571 {
color : #231f20 ; 
font-style : italic ; 
line-height : 1.2em ; 
margin-bottom : 0.8768003999999999em ; 
margin-top : 0.8768003999999999em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-572 {
font-style : italic ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-left : 1.18% ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-578 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-579 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-577 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-582 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-style : italic ; 
letter-spacing : 0.25rem ; 
}

.class-0-583 {
color : #231f20 ; 
font-size : 0.92rem ; 
font-style : italic ; 
line-height : 1.3044em ; 
}

.class-0-594 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-style : italic ; 
letter-spacing : 0.14rem ; 
}

.class-0-596 {
color : #231f20 ; 
font-style : italic ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-603 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-605 {
line-height : 1.2em ; 
margin-bottom : 0.6345708em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

