.class-0-4306 {
color : #2f5496 ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.18239999999999998em ; 
margin-top : 0.2736em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 29.375% ; 
}

.class-0-4307 {
box-sizing : content-box ; 
font-size : 0.92rem ; 
line-height : 1.2227999999999999em ; 
text-align : center ; 
}

.class-0-4308 {
margin-bottom : 0.3891288em ; 
margin-left : 13.513% ; 
width : 30.69% ; 
}

.class-0-4310 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-weight : bold ; 
}

.class-0-4311 {
color : #231f20 ; 
font-size : 1.0rem ; 
}

.class-0-4309 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 1.705668em ; 
text-align : justify ; 
}

.class-0-4312 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-4317 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-4338 {
font-size : 1.0rem ; 
}

.class-0-4339 {
font-size : 1.0rem ; 
letter-spacing : 0.25rem ; 
}

.class-0-4340 {
font-size : 0.92rem ; 
line-height : 1.3044em ; 
}

.class-0-4348 {
line-height : 1.2em ; 
margin-bottom : 0.5056644em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

