.class-0-5860 {
color : #2f5496 ; 
font-size : 1.5rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.2432004em ; 
margin-top : 0.36479999999999996em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : justify ; 
text-indent : 22.031% ; 
}

.class-0-5861 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.38538em ; 
text-align : center ; 
text-indent : 17.625% ; 
}

.class-0-5862 {
box-sizing : content-box ; 
font-size : 0.92rem ; 
line-height : 1.2227999999999999em ; 
text-align : center ; 
}

.class-0-5863 {
margin-bottom : 0.3891288em ; 
margin-left : 13.513% ; 
width : 30.69% ; 
}

.class-0-5864 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
text-align : justify ; 
}

.class-0-5866 {
font-size : 1.0rem ; 
font-weight : bold ; 
}

.class-0-5867 {
font-size : 1.0rem ; 
font-weight : bold ; 
letter-spacing : 0.25rem ; 
}

.class-0-5868 {
font-size : 1.0rem ; 
}

.class-0-5865 {
line-height : 1.2em ; 
margin-top : 1.2em ; 
text-align : justify ; 
}

.class-0-5869 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-5887 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 15.781% ; 
}

.class-0-5900 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-5982 {
color : #0563c1 ; 
font-size : 1.0rem ; 
text-decoration : underline ; 
}

.class-0-5983 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-5986 {
line-height : 1.2em ; 
margin-bottom : 0.6345708em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

