.class-0-698 {
color : #2f5496 ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.18239999999999998em ; 
margin-top : 0.2736em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 29.375% ; 
}

.class-0-699 {
box-sizing : content-box ; 
font-size : 0.92rem ; 
line-height : 1.2227999999999999em ; 
text-align : center ; 
}

.class-0-700 {
margin-bottom : 0.3891288em ; 
margin-left : 13.513% ; 
width : 30.69% ; 
}

.class-0-702 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-weight : bold ; 
line-height : 1.575em ; 
}

.class-0-703 {
color : #231f20 ; 
font-size : 1.3rem ; 
font-weight : bold ; 
}

.class-0-704 {
color : #231f20 ; 
font-size : 1.0rem ; 
line-height : 1.575em ; 
}

.class-0-701 {
font-size : 1.3rem ; 
line-height : 1.2114em ; 
margin-bottom : 0.6681144em ; 
margin-top : 1.242552em ; 
text-align : justify ; 
}

.class-0-705 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-707 {
color : #231f20 ; 
font-size : 1.0rem ; 
}

.class-0-708 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.22rem ; 
}

.class-0-706 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-710 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.8768003999999999em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-715 {
font-size : 1.0rem ; 
}

.class-0-726 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.2rem ; 
}

.class-0-724 {
line-height : 1.2em ; 
margin-bottom : 0.8768003999999999em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-752 {
color : #231f20 ; 
font-size : 0.92rem ; 
line-height : 1.3044em ; 
}

.class-0-757 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-775 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.054rem ; 
}

.class-0-777 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.058rem ; 
}

.class-0-802 {
color : #231f20 ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-803 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 0.3968004em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-805 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.6345708em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

