.class-0-8 {
font-size : 1.0rem ; 
}

.class-0-9 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-7 {
line-height : 1.2em ; 
text-align : justify ; 
}

.class-0-15 {
font-weight : bold ; 
line-height : 1.2em ; 
text-align : justify ; 
}

.class-0-16 {
line-height : 1.2em ; 
margin-bottom : 1.705668em ; 
margin-top : 1.2em ; 
text-align : justify ; 
}

