.class-0-145 {
color : #2f5496 ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.18239999999999998em ; 
margin-top : 0.2736em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 29.375% ; 
}

.class-0-146 {
box-sizing : content-box ; 
font-size : 0.92rem ; 
line-height : 1.2227999999999999em ; 
text-align : center ; 
}

.class-0-147 {
margin-bottom : 0.3891288em ; 
margin-left : 13.513% ; 
width : 30.69% ; 
}

.class-0-148 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.3072264em ; 
margin-top : 1.436472em ; 
text-align : center ; 
}

.class-0-150 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-weight : bold ; 
}

.class-0-151 {
color : #231f20 ; 
font-size : 1.0rem ; 
}

.class-0-152 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.096rem ; 
}

.class-0-149 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 1.705668em ; 
text-align : justify ; 
}

.class-0-170 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-168 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-174 {
font-size : 1.0rem ; 
}

.class-0-172 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-left : 7.84% ; 
margin-top : 0.38079959999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-176 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-left : 2.5% ; 
margin-right : 1.39% ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-178 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-left : 2.5% ; 
margin-right : 1.38% ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-181 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-left : 2.5% ; 
margin-right : 1.38% ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-188 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-201 {
color : #231f20 ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-204 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.17rem ; 
}

.class-0-202 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 0.3968004em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-213 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.12rem ; 
}

.class-0-209 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-234 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.23rem ; 
}

.class-0-242 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.22rem ; 
}

.class-0-252 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 0.3968004em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-261 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.092rem ; 
}

.class-0-279 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.25rem ; 
}

.class-0-280 {
font-size : 0.92rem ; 
line-height : 1.3044em ; 
}

.class-0-305 {
line-height : 1.2em ; 
margin-bottom : 1.96386em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-306 {
box-sizing : content-box ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-307 {
margin-bottom : 0.36479999999999996em ; 
margin-left : 14.688% ; 
width : 30.69% ; 
}

.class-0-308 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 1.705668em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-337 {
line-height : 1.2em ; 
margin-bottom : 0.6345708em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

