.class-0-4189 {
color : #2f5496 ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.18239999999999998em ; 
margin-top : 0.2736em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 29.375% ; 
}

.class-0-4190 {
box-sizing : content-box ; 
font-size : 0.92rem ; 
line-height : 1.2227999999999999em ; 
text-align : center ; 
}

.class-0-4191 {
margin-bottom : 0.3891288em ; 
margin-left : 13.513% ; 
width : 30.69% ; 
}

.class-0-4193 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-weight : bold ; 
}

.class-0-4194 {
color : #231f20 ; 
font-size : 1.0rem ; 
}

.class-0-4192 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 1.705668em ; 
text-align : justify ; 
}

.class-0-4195 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-4198 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.14rem ; 
}

.class-0-4214 {
font-size : 1.0rem ; 
}

.class-0-4196 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-4220 {
color : #231f20 ; 
font-size : 0.92rem ; 
}

.class-0-4221 {
color : #231f20 ; 
font-size : 0.92rem ; 
letter-spacing : 0.23rem ; 
}

.class-0-4222 {
font-size : 0.92rem ; 
}

.class-0-4219 {
font-size : 0.92rem ; 
line-height : 1.2227999999999999em ; 
margin-bottom : 0.3891288em ; 
text-align : justify ; 
text-indent : 13.513% ; 
}

.class-0-4224 {
color : #231f20 ; 
font-size : 0.92rem ; 
line-height : 1.2227999999999999em ; 
margin-bottom : 0.3891288em ; 
text-align : justify ; 
text-indent : 13.513% ; 
}

.class-0-4299 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.25rem ; 
}

.class-0-4300 {
font-size : 0.92rem ; 
line-height : 1.3044em ; 
}

.class-0-4304 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.6345708em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

