.class-0-2226 {
color : #2f5496 ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.18239999999999998em ; 
margin-top : 0.2736em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 29.375% ; 
}

.class-0-2227 {
box-sizing : content-box ; 
font-size : 0.92rem ; 
line-height : 1.2227999999999999em ; 
text-align : center ; 
}

.class-0-2228 {
margin-bottom : 0.3891288em ; 
margin-left : 13.513% ; 
width : 30.69% ; 
}

.class-0-2230 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-weight : bold ; 
line-height : 1.575em ; 
}

.class-0-2231 {
color : #231f20 ; 
font-size : 1.3rem ; 
font-weight : bold ; 
}

.class-0-2232 {
color : #231f20 ; 
font-size : 1.0rem ; 
line-height : 1.575em ; 
}

.class-0-2229 {
font-size : 1.3rem ; 
line-height : 1.2114em ; 
margin-bottom : 0.2779752em ; 
margin-top : 1.242552em ; 
text-align : justify ; 
}

.class-0-2234 {
color : #231f20 ; 
font-size : 1.0rem ; 
}

.class-0-2235 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.037rem ; 
}

.class-0-2237 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.046rem ; 
}

.class-0-2239 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.05rem ; 
}

.class-0-2233 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-2257 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-2261 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.1rem ; 
}

.class-0-2279 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.11rem ; 
}

.class-0-2281 {
font-size : 1.0rem ; 
}

.class-0-2291 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-2302 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.14rem ; 
}

.class-0-2326 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.0083rem ; 
}

.class-0-2333 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.15rem ; 
}

.class-0-2335 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.16rem ; 
}

.class-0-2367 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.21rem ; 
}

.class-0-2371 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.063rem ; 
}

.class-0-2408 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.5056644em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

