.class-0-5990 {
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.36479999999999996em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-5991 {
font-size : 1.5rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.7333331999999999em ; 
text-align : center ; 
text-indent : 2.4em ; 
}

.class-0-5992 {
font-size : 1.0rem ; 
}

.class-0-5996 {
font-size : 1.5rem ; 
font-style : italic ; 
font-weight : bold ; 
}

.class-0-5995 {
text-align : center ; 
}

.class-0-5994 {
font-size : 1.5rem ; 
line-height : 1.2em ; 
margin-left : 14.57% ; 
padding-left : 0.62% ; 
text-indent : 0.0% ; 
}

.class-0-5993 {
line-height : 1.2em ; 
list-style-type : disc ; 
padding-left : 2.5em ; 
}

.class-0-5997 {
line-height : 1.2em ; 
margin-left : 4.23% ; 
text-align : center ; 
}

.class-0-6003 {
line-height : 1.2em ; 
list-style-type : disc ; 
margin-top : 2.7500039999999997em ; 
padding-left : 2.5em ; 
}

.class-0-6016 {
font-size : 1.5rem ; 
font-weight : bold ; 
}

.class-0-6017 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-left : 13.74% ; 
padding-left : 1.542% ; 
text-indent : 0.0% ; 
}

.class-0-6013 {
line-height : 1.2em ; 
list-style-type : disc ; 
margin-top : 3.0em ; 
padding-left : 2.5em ; 
}

.class-0-6026 {
line-height : 1.2em ; 
margin-bottom : 0.6742188em ; 
margin-left : 4.23% ; 
text-align : center ; 
}

