.class-0-4676 {
color : #2f5496 ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.18239999999999998em ; 
margin-top : 0.2736em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 29.375% ; 
}

.class-0-4677 {
box-sizing : content-box ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-4678 {
margin-bottom : 0.36479999999999996em ; 
margin-left : 14.688% ; 
width : 30.69% ; 
}

.class-0-4680 {
font-size : 1.0rem ; 
font-weight : bold ; 
}

.class-0-4681 {
font-size : 1.0rem ; 
}

.class-0-4679 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 1.705668em ; 
text-align : justify ; 
}

.class-0-4682 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-4689 {
font-size : 1.0rem ; 
letter-spacing : 0.25rem ; 
}

.class-0-4690 {
font-size : 0.92rem ; 
line-height : 1.3044em ; 
}

.class-0-4744 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-4766 {
line-height : 1.2em ; 
margin-bottom : 0.5056644em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

