.class-0-5653 {
color : #2f5496 ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.18239999999999998em ; 
margin-top : 0.2736em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 29.375% ; 
}

.class-0-5654 {
box-sizing : content-box ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-5655 {
margin-bottom : 0.36479999999999996em ; 
margin-left : 14.688% ; 
width : 30.69% ; 
}

.class-0-5657 {
font-size : 1.0rem ; 
font-weight : bold ; 
}

.class-0-5658 {
font-size : 1.0rem ; 
}

.class-0-5656 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 1.705668em ; 
text-align : justify ; 
}

.class-0-5659 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-5675 {
font-size : 1.0rem ; 
letter-spacing : 0.25rem ; 
}

.class-0-5676 {
font-size : 0.92rem ; 
line-height : 1.3044em ; 
}

.class-0-5756 {
line-height : 1.2em ; 
margin-bottom : 1.96386em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

