.class-0-6028 {
font-size : 1.5rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
text-align : center ; 
text-indent : 2.4em ; 
}

.class-0-6029 {
font-size : 1.0rem ; 
}

.class-0-6033 {
font-size : 1.5rem ; 
font-style : italic ; 
font-weight : bold ; 
}

.class-0-6032 {
text-align : center ; 
}

.class-0-6031 {
font-size : 1.5rem ; 
line-height : 1.2em ; 
margin-left : 14.57% ; 
padding-left : 0.62% ; 
text-indent : 0.0% ; 
}

.class-0-6030 {
line-height : 1.2em ; 
list-style-type : disc ; 
padding-left : 2.5em ; 
}

.class-0-6034 {
line-height : 1.2em ; 
margin-left : 4.23% ; 
text-align : center ; 
}

.class-0-6039 {
font-size : 1.5rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 1.2em ; 
text-align : center ; 
text-indent : 2.4em ; 
}

.class-0-6043 {
line-height : 1.2em ; 
margin-bottom : 0.6742188em ; 
margin-left : 4.23% ; 
text-align : center ; 
}

