.class-0-137 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-138 {
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.5056644em ; 
margin-top : 1.705668em ; 
text-align : right ; 
}

