.class-0-142 {
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 6.82266em ; 
text-align : center ; 
}

.class-0-143 {
font-style : italic ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.5056644em ; 
margin-top : 1.705668em ; 
text-align : right ; 
}

