.class-0-3789 {
color : #2f5496 ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.18239999999999998em ; 
margin-top : 0.2736em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 29.375% ; 
}

.class-0-3790 {
box-sizing : content-box ; 
font-size : 0.92rem ; 
line-height : 1.2227999999999999em ; 
text-align : center ; 
}

.class-0-3791 {
margin-bottom : 0.3891288em ; 
margin-left : 13.513% ; 
width : 30.69% ; 
}

.class-0-3793 {
font-size : 1.0rem ; 
font-weight : bold ; 
}

.class-0-3794 {
font-size : 1.0rem ; 
}

.class-0-3792 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 1.6306679999999998em ; 
text-align : justify ; 
}

.class-0-3795 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-3812 {
font-size : 1.0rem ; 
letter-spacing : 0.25rem ; 
}

.class-0-3813 {
font-size : 0.92rem ; 
line-height : 1.3044em ; 
}

.class-0-3816 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-left : 1.18% ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-3834 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-3836 {
color : #231f20 ; 
font-size : 1.0rem ; 
}

.class-0-3843 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.11rem ; 
}

.class-0-3853 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.1rem ; 
}

.class-0-3873 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-3885 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.087rem ; 
}

.class-0-3887 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.092rem ; 
}

.class-0-3891 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.096rem ; 
}

.class-0-3913 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-left : 1.18% ; 
text-align : justify ; 
text-indent : 4.375% ; 
}

.class-0-3917 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-left : 1.2% ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-3918 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-left : 1.18% ; 
text-align : justify ; 
text-indent : 4.375% ; 
}

.class-0-3925 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.17rem ; 
}

.class-0-3927 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.25rem ; 
}

.class-0-3949 {
line-height : 1.2em ; 
margin-bottom : 0.5056644em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

