.class-0-807 {
color : #2f5496 ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.18239999999999998em ; 
margin-top : 0.2736em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 29.375% ; 
}

.class-0-808 {
box-sizing : content-box ; 
font-size : 0.92rem ; 
line-height : 1.2227999999999999em ; 
text-align : center ; 
}

.class-0-809 {
margin-bottom : 0.3891288em ; 
margin-left : 13.513% ; 
width : 30.69% ; 
}

.class-0-811 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-weight : bold ; 
}

.class-0-812 {
color : #231f20 ; 
font-size : 1.0rem ; 
}

.class-0-810 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 1.6306679999999998em ; 
text-align : justify ; 
}

.class-0-813 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-818 {
font-size : 1.0rem ; 
}

.class-0-816 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-832 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.079rem ; 
}

.class-0-846 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.083rem ; 
}

.class-0-861 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-865 {
line-height : 1.2em ; 
margin-top : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-871 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.13rem ; 
}

.class-0-869 {
line-height : 1.2em ; 
margin-bottom : 0.8768003999999999em ; 
margin-top : 0.8768003999999999em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-889 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-890 {
color : #231f20 ; 
font-size : 0.67rem ; 
font-style : italic ; 
line-height : 1.791em ; 
vertical-align : super ; 
}

.class-0-891 {
color : #231f20 ; 
font-size : 0.58rem ; 
line-height : 2.0688em ; 
vertical-align : 4.0pt ; 
}

.class-0-897 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.23rem ; 
}

.class-0-907 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.22rem ; 
}

.class-0-918 {
font-size : 1.0rem ; 
letter-spacing : 0.017rem ; 
}

.class-0-920 {
font-size : 1.0rem ; 
letter-spacing : 0.096rem ; 
}

.class-0-926 {
font-size : 1.0rem ; 
letter-spacing : 0.1rem ; 
}

.class-0-936 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 0.45759959999999994em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-937 {
color : #231f20 ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-938 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-941 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.8768003999999999em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

