.class-0-1790 {
color : #2f5496 ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 0.2736em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 29.375% ; 
}

.class-0-1791 {
box-sizing : content-box ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-1792 {
margin-bottom : 0.36479999999999996em ; 
margin-left : 14.688% ; 
width : 30.69% ; 
}

.class-0-1794 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-weight : bold ; 
}

.class-0-1795 {
color : #231f20 ; 
font-size : 1.0rem ; 
}

.class-0-1796 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.1rem ; 
}

.class-0-1812 {
font-size : 1.0rem ; 
}

.class-0-1793 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 1.705668em ; 
text-align : justify ; 
}

.class-0-1814 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-1825 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-1836 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.11rem ; 
}

.class-0-1877 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.19rem ; 
}

.class-0-1879 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.2rem ; 
}

.class-0-1924 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.22rem ; 
}

.class-0-1936 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.23rem ; 
}

.class-0-1958 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.15rem ; 
}

.class-0-1995 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.083rem ; 
}

.class-0-1997 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.087rem ; 
}

.class-0-2022 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-2042 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.13rem ; 
}

.class-0-2058 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 1.96386em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

