.class-0-3550 {
color : #2f5496 ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.18239999999999998em ; 
margin-top : 0.2736em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 29.375% ; 
}

.class-0-3551 {
box-sizing : content-box ; 
font-size : 0.92rem ; 
line-height : 1.2227999999999999em ; 
text-align : center ; 
}

.class-0-3552 {
margin-bottom : 0.3891288em ; 
margin-left : 13.513% ; 
width : 30.69% ; 
}

.class-0-3554 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-weight : bold ; 
}

.class-0-3555 {
color : #231f20 ; 
font-size : 1.0rem ; 
}

.class-0-3553 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 1.705668em ; 
text-align : justify ; 
}

.class-0-3556 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-3560 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.25rem ; 
}

.class-0-3561 {
font-size : 0.92rem ; 
line-height : 1.3044em ; 
}

.class-0-3558 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-3564 {
color : #231f20 ; 
font-style : italic ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-3570 {
font-style : italic ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-3578 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-3579 {
font-size : 1.0rem ; 
font-style : italic ; 
letter-spacing : 0.25rem ; 
}

.class-0-3619 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 1.705668em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-3631 {
font-size : 1.0rem ; 
}

.class-0-3632 {
font-size : 1.0rem ; 
letter-spacing : 0.25rem ; 
}

.class-0-3646 {
line-height : 1.2em ; 
margin-bottom : 0.5056644em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

