.class-0-19 {
color : #0563c1 ; 
font-size : 0.92rem ; 
font-weight : bold ; 
line-height : 1.3044em ; 
text-decoration : underline ; 
}

.class-0-18 {
line-height : 1.2em ; 
margin-bottom : 0.2271996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-21 {
color : #0563c1 ; 
font-size : 0.92rem ; 
font-weight : bold ; 
text-decoration : underline ; 
}

.class-0-20 {
font-size : 0.92rem ; 
line-height : 1.2227999999999999em ; 
margin-bottom : 0.24235199999999998em ; 
text-align : justify ; 
text-indent : 13.513% ; 
}

.class-0-134 {
font-size : 0.92rem ; 
line-height : 1.2227999999999999em ; 
margin-bottom : 0.67689em ; 
text-align : justify ; 
text-indent : 13.513% ; 
}

