.class-0-1057 {
color : #2f5496 ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.18239999999999998em ; 
margin-top : 0.2736em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 29.375% ; 
}

.class-0-1058 {
box-sizing : content-box ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-1059 {
margin-bottom : 0.36479999999999996em ; 
margin-left : 14.688% ; 
width : 30.69% ; 
}

.class-0-1061 {
color : #231f20 ; 
font-size : 1.0rem ; 
font-weight : bold ; 
}

.class-0-1062 {
color : #231f20 ; 
font-size : 1.0rem ; 
}

.class-0-1063 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.033rem ; 
}

.class-0-1060 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
margin-top : 1.705668em ; 
text-align : justify ; 
}

.class-0-1065 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-1080 {
font-size : 1.0rem ; 
}

.class-0-1078 {
line-height : 1.2em ; 
margin-bottom : 0.36479999999999996em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

.class-0-1110 {
color : #231f20 ; 
font-size : 1.0rem ; 
letter-spacing : 0.12rem ; 
}

.class-0-1144 {
color : #231f20 ; 
line-height : 1.2em ; 
margin-bottom : 3.422292em ; 
text-align : justify ; 
text-indent : 14.688% ; 
}

