.class-0-2889 {
font-size : 1.3rem ; 
font-weight : normal ; 
line-height : 1.589328em ; 
margin-bottom : 0.17284439999999998em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-2890 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.221096em ; 
text-indent : 1.2em ; 
}

.class-0-2892 {
font-size : 1.0rem ; 
}

.class-0-2893 {
font-size : 1.0rem ; 
font-style : italic ; 
font-weight : bold ; 
}

.class-0-2895 {
color : #0000ff ; 
font-size : 1.0rem ; 
text-decoration : underline ; 
}

.class-0-2891 {
line-height : 1.2em ; 
text-indent : 1.2em ; 
}

.class-0-2897 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.422304em ; 
margin-top : 0.422304em ; 
text-align : center ; 
}

.class-0-2898 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
text-align : center ; 
}

.class-0-2899 {
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.221096em ; 
text-align : center ; 
text-decoration : underline ; 
}

.class-0-2909 {
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
text-align : center ; 
text-decoration : underline ; 
}

.class-0-2924 {
font-size : 1.0rem ; 
font-weight : bold ; 
}

.class-0-2926 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
text-align : center ; 
text-indent : 0.35em ; 
}

