.class-0-30 {
font-size : 1.3rem ; 
font-weight : normal ; 
line-height : 1.2309359999999998em ; 
margin-bottom : 0.22317em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-32 {
font-size : 1.0rem ; 
}

.class-0-33 {
color : #0000ff ; 
font-size : 1.0rem ; 
text-decoration : underline ; 
}

.class-0-31 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
text-align : center ; 
}

.class-0-35 {
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.221096em ; 
text-align : center ; 
text-decoration : underline ; 
}

.class-0-37 {
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
text-align : center ; 
text-decoration : underline ; 
}

