.class-0-159 {
font-size : 2.3rem ; 
line-height : 1.217064em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-160 {
font-size : 1.7rem ; 
font-weight : bold ; 
line-height : 1.215996em ; 
margin-bottom : 0.286068em ; 
margin-top : 0.286068em ; 
text-align : center ; 
}

