.class-0-1266 {
font-size : 1.3rem ; 
font-weight : normal ; 
line-height : 1.2309359999999998em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-1267 {
box-sizing : content-box ; 
font-size : 1.2rem ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-1268 {
margin-bottom : 0.422304em ; 
margin-top : 0.422304em ; 
width : 92.47% ; 
}

.class-0-1269 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.221096em ; 
text-indent : 1.2em ; 
}

.class-0-1270 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
text-indent : 1.2em ; 
}

.class-0-1274 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-1275 {
font-size : 1.0rem ; 
}

.class-0-1276 {
line-height : 1.2em ; 
text-indent : 1.2em ; 
}

.class-0-1278 {
margin-bottom : 0.422304em ; 
margin-top : 1.3183079999999998em ; 
width : 92.47% ; 
}

.class-0-1279 {
line-height : 1.2em ; 
margin-top : 1.221096em ; 
text-indent : 1.2em ; 
}

.class-0-1280 {
line-height : 1.2em ; 
margin-top : 0.49280039999999997em ; 
text-indent : 1.2em ; 
}

.class-0-1283 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 0.49280039999999997em ; 
text-indent : 1.2em ; 
}

.class-0-1353 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 1.046412em ; 
text-align : center ; 
}

.class-0-1354 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.9042919999999999em ; 
text-indent : 1.2em ; 
}

.class-0-1365 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.221096em ; 
text-indent : 1.55em ; 
}

