.class-0-576 {
font-size : 1.3rem ; 
font-weight : normal ; 
line-height : 1.2309359999999998em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-577 {
box-sizing : content-box ; 
font-size : 1.2rem ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-578 {
margin-top : 0.422304em ; 
width : 92.47% ; 
}

.class-0-579 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.9042919999999999em ; 
text-indent : 1.2em ; 
}

.class-0-580 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
text-indent : 1.2em ; 
}

.class-0-591 {
line-height : 1.2em ; 
text-indent : 1.2em ; 
}

.class-0-593 {
margin-bottom : 0.422304em ; 
margin-top : 1.3183079999999998em ; 
width : 92.47% ; 
}

.class-0-594 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.221096em ; 
text-indent : 1.55em ; 
}

.class-0-623 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.221096em ; 
text-indent : 1.2em ; 
}

