.class-0-364 {
font-size : 1.3rem ; 
font-weight : normal ; 
line-height : 1.2309359999999998em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-365 {
box-sizing : content-box ; 
font-size : 1.2rem ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-366 {
margin-top : 0.422304em ; 
width : 92.47% ; 
}

.class-0-367 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.9042919999999999em ; 
text-indent : 1.2em ; 
}

.class-0-368 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
text-indent : 1.2em ; 
}

.class-0-377 {
font-size : 1.0rem ; 
}

.class-0-378 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-389 {
line-height : 1.2em ; 
text-indent : 1.2em ; 
}

.class-0-391 {
margin-bottom : 0.422304em ; 
margin-top : 1.3183079999999998em ; 
width : 92.47% ; 
}

.class-0-392 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.221096em ; 
text-indent : 1.2em ; 
}

.class-0-397 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 1.046412em ; 
text-align : center ; 
}

