.class-0-139 {
font-size : 1.3rem ; 
font-weight : normal ; 
line-height : 1.589328em ; 
margin-bottom : 0.17284439999999998em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-140 {
font-style : italic ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.221096em ; 
text-indent : 1.2em ; 
}

.class-0-141 {
font-style : italic ; 
font-weight : bold ; 
line-height : 1.2em ; 
text-indent : 1.2em ; 
}

.class-0-142 {
box-sizing : content-box ; 
font-size : 1.2rem ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-143 {
margin-bottom : 0.422304em ; 
margin-top : 1.3183079999999998em ; 
width : 92.47% ; 
}

.class-0-144 {
line-height : 1.2em ; 
margin-top : 1.221096em ; 
text-indent : 1.2em ; 
}

.class-0-145 {
line-height : 1.2em ; 
margin-top : 0.49280039999999997em ; 
text-indent : 1.2em ; 
}

.class-0-146 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 0.49280039999999997em ; 
text-indent : 1.2em ; 
}

.class-0-147 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
text-indent : 1.2em ; 
}

