.class-0-124 {
font-size : 1.3rem ; 
font-weight : normal ; 
line-height : 1.2309359999999998em ; 
margin-bottom : 0.22317em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-125 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.221096em ; 
text-indent : 1.2em ; 
}

.class-0-127 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-128 {
font-size : 1.0rem ; 
}

.class-0-129 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
text-indent : 1.2em ; 
}

