.class-0-1895 {
font-size : 1.3rem ; 
font-weight : normal ; 
line-height : 1.2309359999999998em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-1896 {
box-sizing : content-box ; 
font-size : 1.2rem ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-1897 {
margin-bottom : 0.422304em ; 
margin-top : 0.422304em ; 
width : 92.47% ; 
}

.class-0-1898 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.221096em ; 
text-indent : 1.2em ; 
}

.class-0-1899 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
text-indent : 1.2em ; 
}

.class-0-1916 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-1917 {
font-size : 1.0rem ; 
}

