.class-0-2267 {
font-size : 1.3rem ; 
font-weight : normal ; 
line-height : 1.2309359999999998em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-2268 {
box-sizing : content-box ; 
font-size : 1.2rem ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-2269 {
margin-bottom : 0.422304em ; 
margin-top : 0.422304em ; 
width : 92.47% ; 
}

.class-0-2270 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.221096em ; 
text-indent : 1.2em ; 
}

.class-0-2271 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
text-indent : 1.2em ; 
}

.class-0-2308 {
line-height : 1.2em ; 
text-indent : 1.2em ; 
}

.class-0-2310 {
margin-bottom : 0.422304em ; 
margin-top : 1.3183079999999998em ; 
width : 92.47% ; 
}

.class-0-2311 {
line-height : 1.2em ; 
margin-top : 1.221096em ; 
text-indent : 1.2em ; 
}

.class-0-2312 {
line-height : 1.2em ; 
margin-top : 0.49280039999999997em ; 
text-indent : 1.2em ; 
}

.class-0-2325 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 0.49280039999999997em ; 
text-indent : 1.2em ; 
}

.class-0-2345 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 1.046412em ; 
text-align : center ; 
}

.class-0-2346 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.9042919999999999em ; 
text-indent : 1.2em ; 
}

.class-0-2361 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.221096em ; 
text-indent : 1.55em ; 
}

