.class-0-2975 {
font-size : 1.3rem ; 
font-weight : normal ; 
line-height : 1.589328em ; 
margin-bottom : 0.17284439999999998em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-2976 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.4460959999999998em ; 
text-indent : 1.2em ; 
}

.class-0-2977 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.221096em ; 
text-align : center ; 
}

.class-0-2979 {
font-size : 1.0rem ; 
}

.class-0-2978 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
text-align : center ; 
}

.class-0-3009 {
line-height : 1.2em ; 
margin-bottom : 1.5383759999999997em ; 
text-align : center ; 
}

