.class-0-1449 {
font-size : 1.3rem ; 
font-weight : normal ; 
line-height : 1.2309359999999998em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-1450 {
box-sizing : content-box ; 
font-size : 1.2rem ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-1451 {
margin-bottom : 0.422304em ; 
margin-top : 0.422304em ; 
width : 92.47% ; 
}

.class-0-1452 {
line-height : 1.2em ; 
margin-top : 1.221096em ; 
text-indent : 1.2em ; 
}

.class-0-1453 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 0.49280039999999997em ; 
text-indent : 1.2em ; 
}

.class-0-1454 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
text-indent : 1.2em ; 
}

.class-0-1466 {
line-height : 1.2em ; 
text-indent : 1.2em ; 
}

.class-0-1468 {
margin-bottom : 0.422304em ; 
margin-top : 1.3183079999999998em ; 
width : 92.47% ; 
}

.class-0-1469 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.221096em ; 
text-indent : 1.2em ; 
}

.class-0-1528 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-1529 {
font-size : 1.0rem ; 
}

.class-0-1571 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 1.046412em ; 
text-align : center ; 
}

.class-0-1572 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.9042919999999999em ; 
text-indent : 1.2em ; 
}

