.class-0-2872 {
font-size : 1.3rem ; 
font-weight : normal ; 
line-height : 1.2309359999999998em ; 
margin-bottom : 0.22317em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-2873 {
font-style : italic ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 1.221096em ; 
text-indent : 1.8em ; 
}

.class-0-2874 {
box-sizing : content-box ; 
font-size : 1.2rem ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-2875 {
margin-bottom : 0.422304em ; 
margin-top : 1.3183079999999998em ; 
width : 92.47% ; 
}

.class-0-2876 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.221096em ; 
text-indent : 1.2em ; 
}

.class-0-2877 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
text-indent : 1.2em ; 
}

.class-0-2885 {
line-height : 1.2em ; 
margin-bottom : 3.105024em ; 
text-indent : 1.2em ; 
}

.class-0-2886 {
box-sizing : content-box ; 
font-size : 1.2rem ; 
line-height : 1.5552em ; 
text-align : center ; 
}

.class-0-2887 {
margin-bottom : 0.316872em ; 
margin-top : 0.3511404em ; 
width : 92.31% ; 
}

