.class-0-877 {
font-size : 1.3rem ; 
font-weight : normal ; 
line-height : 1.2309359999999998em ; 
page-break-inside : avoid ; 
text-align : center ; 
}

.class-0-878 {
box-sizing : content-box ; 
font-size : 1.2rem ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-879 {
margin-bottom : 0.422304em ; 
margin-top : 0.422304em ; 
width : 92.47% ; 
}

.class-0-880 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.221096em ; 
text-indent : 1.2em ; 
}

.class-0-881 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
text-indent : 1.2em ; 
}

.class-0-910 {
line-height : 1.2em ; 
text-indent : 1.2em ; 
}

.class-0-912 {
margin-bottom : 0.422304em ; 
margin-top : 1.3183079999999998em ; 
width : 92.47% ; 
}

.class-0-913 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 1.221096em ; 
text-indent : 1.55em ; 
}

.class-0-993 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.422304em ; 
margin-top : 1.046412em ; 
text-align : center ; 
}

.class-0-994 {
line-height : 1.2em ; 
margin-top : 1.221096em ; 
text-indent : 1.2em ; 
}

.class-0-995 {
line-height : 1.2em ; 
margin-bottom : 0.3936em ; 
margin-top : 0.49280039999999997em ; 
text-indent : 1.2em ; 
}

