.class-0-4733 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-4734 {
font-family : 01_halftitlepage-gotham-bold ; 
font-size : 1.6rem ; 
font-weight : bold ; 
letter-spacing : 0.0pt ; 
line-height : 1.2em ; 
margin-bottom : 2.88em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-4735 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-4773 {
margin-bottom : 1.2288em ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-4839 {
font-style : italic ; 
}

.class-0-4844 {
font-family : 01_halftitlepage-myriadpro-regular ; 
font-weight : bold ; 
margin-bottom : 1.2288em ; 
margin-left : 7.0% ; 
margin-right : 7.0% ; 
text-align : justify ; 
text-indent : 0.0% ; 
}

