.class-0-2523 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-2524 {
font-family : 01_halftitlepage-gotham-bold ; 
font-size : 1.6rem ; 
font-weight : bold ; 
letter-spacing : 0.0pt ; 
line-height : 1.2em ; 
margin-bottom : 2.88em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-2525 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-2685 {
margin-bottom : 1.2288em ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-2700 {
font-style : italic ; 
}

.class-0-2702 {
margin-left : 10.0% ; 
margin-right : 10.0% ; 
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-2704 {
margin-bottom : 1.2288em ; 
margin-left : 20.0% ; 
margin-right : 40.0% ; 
text-align : right ; 
text-indent : 0.0% ; 
}

