.class-0-3295 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-3296 {
font-family : 01_halftitlepage-gotham-bold ; 
font-size : 1.6rem ; 
font-weight : bold ; 
letter-spacing : 0.0pt ; 
line-height : 1.2em ; 
margin-bottom : 2.88em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-3297 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-3299 {
margin-bottom : 1.2288em ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-3300 {
margin-left : 10.0% ; 
margin-right : 10.0% ; 
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-3302 {
margin-bottom : 1.2288em ; 
margin-left : 10.0% ; 
margin-right : 10.0% ; 
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-3355 {
font-style : italic ; 
}

