.class-0-630 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-631 {
font-family : 01_halftitlepage-gotham-bold ; 
font-size : 1.6rem ; 
font-weight : bold ; 
letter-spacing : 0.0pt ; 
line-height : 1.2em ; 
margin-bottom : 2.88em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-632 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-639 {
font-style : italic ; 
}

.class-0-679 {
margin-bottom : 1.2288em ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

