.class-0-5137 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-5138 {
font-family : 01_halftitlepage-gotham-bold ; 
font-size : 1.6rem ; 
font-weight : bold ; 
letter-spacing : 0.0pt ; 
line-height : 1.2em ; 
margin-bottom : 0.384em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-5140 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
}

.class-0-5139 {
font-family : 01_halftitlepage-raleway ; 
font-size : 1.2rem ; 
line-height : 1.2em ; 
margin-bottom : 3.84em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-5141 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-5154 {
font-style : italic ; 
}

.class-0-5153 {
margin-bottom : 1.2288em ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-5155 {
margin-bottom : 1.2288em ; 
margin-left : 7.0% ; 
text-align : justify ; 
text-indent : 6.719% ; 
}

