.class-0-511 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-512 {
font-family : 01_halftitlepage-gotham-bold ; 
font-size : 1.6rem ; 
font-weight : bold ; 
letter-spacing : 0.0pt ; 
line-height : 1.2em ; 
margin-bottom : 0.384em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-514 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
}

.class-0-513 {
font-family : 01_halftitlepage-raleway ; 
font-size : 1.2rem ; 
line-height : 1.2em ; 
margin-bottom : 3.84em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-517 {
text-align : justify ; 
text-indent : 6.719% ; 
}

.class-0-537 {
font-style : italic ; 
}

