.class-0-4192 {
font-family : default,serif ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.3333336em ; 
margin-top : 0.5000004em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 14.769% ; 
}

.class-0-4193 {
font-family : default,serif ; 
line-height : 1.2em ; 
margin-bottom : 0.6666672em ; 
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-4194 {
font-family : default,serif ; 
line-height : 1.2em ; 
margin-bottom : 0.6666672em ; 
text-align : justify ; 
text-indent : 14.766% ; 
}

.class-0-4196 {
font-size : 0.75rem ; 
line-height : 1.2em ; 
vertical-align : super ; 
}

.class-0-4201 {
font-style : italic ; 
}

.class-0-4206 {
font-family : default,serif ; 
line-height : 1.2em ; 
margin-bottom : 2.2666679999999997em ; 
text-align : justify ; 
text-indent : 14.766% ; 
}

