.class-0-4215 {
color : #2f5496 ; 
font-family : algerian,fantasy ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.3333336em ; 
margin-top : 0.5000004em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 14.769% ; 
}

.class-0-4217 {
font-weight : bold ; 
}

.class-0-4218 {
font-style : italic ; 
font-weight : bold ; 
}

.class-0-4216 {
font-family : default,serif ; 
font-size : 1.41667rem ; 
line-height : 1.2em ; 
margin-bottom : 0.4741428em ; 
margin-top : 0.9245796em ; 
text-align : center ; 
text-indent : 14.764% ; 
}

.class-0-4219 {
font-family : default,serif ; 
font-size : 1.125rem ; 
line-height : 1.2em ; 
margin-bottom : 0.5925924em ; 
margin-top : 1.1555556em ; 
text-align : center ; 
text-indent : 14.766% ; 
}

.class-0-4220 {
font-family : default,serif ; 
font-size : 1.125rem ; 
line-height : 1.2em ; 
margin-bottom : 0.5925924em ; 
text-align : center ; 
text-indent : 14.766% ; 
}

.class-0-4224 {
font-family : default,serif ; 
font-size : 1.41667rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.4741428em ; 
margin-top : 1.8491639999999998em ; 
text-align : center ; 
text-indent : 14.764% ; 
}

.class-0-4230 {
font-family : default,serif ; 
font-size : 1.41667rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.4741428em ; 
margin-top : 0.9245796em ; 
text-align : center ; 
text-indent : 14.764% ; 
}

.class-0-4235 {
font-family : default,serif ; 
font-size : 1.125rem ; 
line-height : 1.2em ; 
margin-bottom : 0.5925924em ; 
margin-left : 14.766% ; 
margin-top : 1.1555556em ; 
text-align : center ; 
text-indent : 14.766% ; 
}

.class-0-4237 {
font-family : default,serif ; 
font-size : 1.41667rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.4741428em ; 
text-align : center ; 
text-indent : 14.764% ; 
}

.class-0-4238 {
font-family : default,serif ; 
font-size : 1.41667rem ; 
line-height : 1.2em ; 
margin-bottom : 0.4741428em ; 
text-align : center ; 
text-indent : 14.764% ; 
}

.class-0-4242 {
font-family : default,serif ; 
font-size : 1.41667rem ; 
line-height : 1.2em ; 
margin-bottom : 1.39872em ; 
text-align : center ; 
text-indent : 14.764% ; 
}

