.class-0-4 {
font-family : default,serif ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.6666672em ; 
margin-top : 0.39999959999999996em ; 
text-align : justify ; 
text-indent : 14.766% ; 
}

.class-0-5 {
font-family : default,serif ; 
line-height : 1.2em ; 
margin-bottom : 0.6666672em ; 
text-align : justify ; 
text-indent : 14.766% ; 
}

.class-0-10 {
font-family : default,serif ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.6666672em ; 
text-align : justify ; 
text-indent : 14.766% ; 
}

.class-0-11 {
font-family : default,serif ; 
line-height : 1.2em ; 
margin-bottom : 2.2666679999999997em ; 
margin-top : 1.299996em ; 
text-align : justify ; 
text-indent : 14.766% ; 
}

