.class-0-14 {
color : #0563c1 ; 
font-family : algerian,fantasy ; 
font-size : 0.75rem ; 
font-weight : bold ; 
text-decoration : underline ; 
}

.class-0-13 {
font-family : serif ; 
font-size : 0.75rem ; 
line-height : 1.2em ; 
margin-bottom : 0.5555556em ; 
text-align : justify ; 
text-indent : 14.766% ; 
}

.class-0-16 {
color : #0563c1 ; 
font-weight : bold ; 
text-decoration : underline ; 
}

.class-0-15 {
font-family : algerian,fantasy ; 
font-size : 0.75rem ; 
line-height : 1.2em ; 
margin-bottom : 0.5555556em ; 
text-align : justify ; 
text-indent : 14.766% ; 
}

.class-0-127 {
font-family : default,serif ; 
font-size : 0.75rem ; 
line-height : 1.2em ; 
margin-bottom : 0.5555556em ; 
text-align : justify ; 
text-indent : 14.766% ; 
}

.class-0-129 {
font-family : algerian,fantasy ; 
font-size : 0.75rem ; 
line-height : 1.2em ; 
margin-bottom : 2.688888em ; 
text-align : justify ; 
text-indent : 14.766% ; 
}

