.class-0-4180 {
font-family : algerian,fantasy ; 
font-size : 1.41667rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.4741428em ; 
margin-top : 0.7112147999999999em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 14.764% ; 
}

.class-0-4181 {
font-family : default,serif ; 
font-size : 1.83333rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.3678672em ; 
text-align : center ; 
text-indent : 14.764% ; 
}

.class-0-4182 {
font-family : default,serif ; 
line-height : 1.2em ; 
margin-bottom : 0.6666672em ; 
margin-top : 1.299996em ; 
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-4183 {
font-family : default,serif ; 
line-height : 1.2em ; 
margin-bottom : 0.6666672em ; 
text-align : justify ; 
text-indent : 14.766% ; 
}

.class-0-4190 {
font-family : default,serif ; 
font-size : 1.41667rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 1.6120919999999999em ; 
text-align : justify ; 
text-indent : 14.764% ; 
}

