.class-0-2914 {
color : #2f5496 ; 
font-family : algerian,fantasy ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.3333336em ; 
margin-top : 0.5000004em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 14.769% ; 
}

.class-0-2915 {
box-sizing : content-box ; 
font-family : calibri,sans-serif ; 
font-size : 0.75rem ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-2916 {
margin-bottom : 0.8888891999999999em ; 
width : 82.465% ; 
}

.class-0-2918 {
font-family : default,serif ; 
font-size : 0.999997rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
}

.class-0-2919 {
color : #2f5496 ; 
font-family : calibri light,sans-serif ; 
font-size : 1.125rem ; 
line-height : 1.2em ; 
}

.class-0-2920 {
font-family : default,serif ; 
font-size : 0.999997rem ; 
line-height : 1.2em ; 
}

.class-0-2917 {
font-family : serif ; 
font-size : 0.75rem ; 
line-height : 1.2em ; 
margin-bottom : 0.8888891999999999em ; 
margin-top : 1.733328em ; 
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-2921 {
font-family : default,serif ; 
line-height : 1.2em ; 
margin-bottom : 0.6666672em ; 
text-align : justify ; 
text-indent : 14.766% ; 
}

.class-0-2987 {
font-family : default,serif ; 
line-height : 1.2em ; 
margin-bottom : 2.2666679999999997em ; 
text-align : justify ; 
text-indent : 14.766% ; 
}

