.class-0-4244 {
font-family : default,serif ; 
font-size : 1.66667rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.40261679999999994em ; 
text-align : center ; 
text-indent : 14.766% ; 
}

.class-0-4246 {
font-weight : bold ; 
}

.class-0-4245 {
font-family : default,serif ; 
line-height : 1.2em ; 
margin-bottom : 0.6666672em ; 
text-align : center ; 
text-indent : 9.244% ; 
}

.class-0-4249 {
font-family : default,serif ; 
font-size : 0.999997rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
}

.class-0-4250 {
font-family : default,serif ; 
font-size : 0.999997rem ; 
line-height : 1.2em ; 
}

.class-0-4252 {
font-family : segoe ui,sans-serif ; 
font-size : 0.999997rem ; 
line-height : 1.2em ; 
}

.class-0-4253 {
color : #536471 ; 
font-family : segoe ui,sans-serif ; 
font-size : 0.999997rem ; 
line-height : 1.2em ; 
}

.class-0-4248 {
font-family : serif ; 
font-size : 0.75rem ; 
line-height : 1.2em ; 
margin-bottom : 0.8888891999999999em ; 
text-align : center ; 
text-indent : 9.244% ; 
}

.class-0-4255 {
font-family : default,serif ; 
line-height : 1.2em ; 
margin-bottom : 4.566672em ; 
text-align : center ; 
text-indent : 14.766% ; 
}

