.class-0-135 {
font-family : default,serif ; 
font-size : 1.125rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 2.0148119999999996em ; 
margin-top : 1.1555556em ; 
text-align : right ; 
text-indent : 14.766% ; 
}

