.class-0-3929 {
color : #2f5496 ; 
font-family : algerian,fantasy ; 
font-size : 2.0rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-bottom : 0.3333336em ; 
margin-top : 0.5000004em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
text-align : center ; 
text-indent : 14.769% ; 
}

.class-0-3930 {
box-sizing : content-box ; 
font-family : calibri,sans-serif ; 
font-size : 0.75rem ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-3931 {
margin-bottom : 0.8888891999999999em ; 
margin-left : 14.766% ; 
width : 82.465% ; 
}

.class-0-3933 {
font-weight : bold ; 
}

.class-0-3932 {
font-family : default,serif ; 
line-height : 1.2em ; 
margin-bottom : 0.6666672em ; 
margin-top : 1.299996em ; 
text-align : justify ; 
text-indent : 0.0% ; 
}

.class-0-3935 {
font-family : default,serif ; 
line-height : 1.2em ; 
margin-bottom : 0.6666672em ; 
text-align : justify ; 
text-indent : 14.766% ; 
}

.class-0-3939 {
font-style : italic ; 
}

.class-0-3952 {
font-family : default,serif ; 
font-style : italic ; 
line-height : 1.2em ; 
margin-bottom : 0.6666672em ; 
text-align : justify ; 
text-indent : 14.766% ; 
}

.class-0-4049 {
font-family : default,serif ; 
line-height : 1.2em ; 
margin-bottom : 2.2666679999999997em ; 
text-align : justify ; 
text-indent : 14.766% ; 
}

