.class-0-132 {
font-family : default,serif ; 
line-height : 1.2em ; 
margin-bottom : 0.6666672em ; 
margin-top : 1.299996em ; 
text-align : justify ; 
text-indent : 14.766% ; 
}

.class-0-133 {
font-family : default,serif ; 
line-height : 1.2em ; 
margin-bottom : 2.2666679999999997em ; 
margin-top : 1.299996em ; 
text-align : justify ; 
text-indent : 14.766% ; 
}

