.class-0-6009 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.280004em ; 
page-break-after : avoid ; 
text-align : center ; 
}

.class-0-6010 {
line-height : 1.2em ; 
margin-top : 0.7875em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-6012 {
font-size : 1.0rem ; 
}

.class-0-6013 {
font-size : 1.0rem ; 
font-weight : bold ; 
text-decoration : underline ; 
}

.class-0-6011 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-6018 {
box-sizing : content-box ; 
width : 23.99% ; 
}

.class-0-6016 {
line-height : 1.2em ; 
margin-top : 0.6749999999999999em ; 
text-align : center ; 
}

.class-0-6019 {
line-height : 1.280004em ; 
margin-top : 0.6328128000000001em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-6020 {
line-height : 1.280004em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-6023 {
color : #0000ff ; 
font-size : 1.0rem ; 
text-decoration : underline ; 
}

.class-0-6021 {
font-size : 1.0rem ; 
line-height : 1.280004em ; 
margin-top : 0.6679692em ; 
text-align : justify ; 
}

.class-0-6025 {
line-height : 1.280004em ; 
margin-bottom : 0.6679692em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-6026 {
box-sizing : content-box ; 
font-size : 1.0rem ; 
line-height : 1.280004em ; 
text-align : center ; 
}

.class-0-6027 {
width : 39.86% ; 
}

.class-0-6028 {
line-height : 1.2em ; 
margin-top : 0.6749999999999999em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-6031 {
font-size : 1.2rem ; 
line-height : 1.2em ; 
margin-top : 0.5784395999999999em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-6033 {
color : #0000ff ; 
font-size : 1.0rem ; 
line-height : 1.400532em ; 
}

.class-0-6032 {
font-size : 1.2rem ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

