.class-0-2595 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.280004em ; 
margin-top : 0.5273435999999999em ; 
page-break-after : avoid ; 
text-align : center ; 
}

.class-0-2596 {
line-height : 1.2em ; 
margin-top : 2.025em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-2597 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-2608 {
line-height : 1.2em ; 
margin-top : 1.3499999999999999em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-2611 {
font-size : 1.0rem ; 
}

.class-0-2612 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-2688 {
line-height : 1.2em ; 
margin-top : 0.6749999999999999em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-2703 {
font-size : 1.0rem ; 
font-variant : small-caps ; 
}

