.class-0-6061 {
box-sizing : content-box ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-6062 {
width : 41.27% ; 
}

.class-0-6064 {
color : #0000ff ; 
font-size : 1.2rem ; 
text-decoration : underline ; 
}

.class-0-6063 {
font-size : 1.2rem ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-6065 {
line-height : 1.2em ; 
text-align : center ; 
}

