.class-0-6055 {
box-sizing : content-box ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-6056 {
width : 41.27% ; 
}

.class-0-6058 {
color : #0000ff ; 
font-size : 1.2rem ; 
font-weight : bold ; 
text-decoration : underline ; 
}

.class-0-6057 {
font-size : 1.2rem ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-6059 {
line-height : 1.2em ; 
text-align : center ; 
}

