.class-0-6042 {
box-sizing : content-box ; 
font-size : 1.0rem ; 
line-height : 1.280004em ; 
text-align : center ; 
}

.class-0-6043 {
width : 41.1% ; 
}

.class-0-6045 {
color : #0000ff ; 
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.280004em ; 
text-decoration : underline ; 
}

.class-0-6044 {
font-size : 1.0rem ; 
line-height : 1.280004em ; 
text-align : center ; 
}

.class-0-6046 {
font-size : 0.92rem ; 
line-height : 1.280004em ; 
text-align : center ; 
}

.class-0-6047 {
font-size : 0.92rem ; 
line-height : 1.280004em ; 
margin-bottom : 1.563756em ; 
text-align : center ; 
}

