.class-0-6000 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.280004em ; 
margin-top : 0.5273435999999999em ; 
page-break-after : avoid ; 
text-align : center ; 
}

.class-0-6001 {
line-height : 1.2em ; 
margin-top : 2.025em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-6003 {
font-size : 1.0rem ; 
}

.class-0-6004 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-6002 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-6006 {
font-size : 1.3rem ; 
font-style : italic ; 
font-weight : bold ; 
line-height : 1.2309359999999998em ; 
margin-top : 0.5061827999999999em ; 
text-align : center ; 
}

.class-0-6007 {
font-style : italic ; 
line-height : 1.2em ; 
margin-bottom : 0.6749999999999999em ; 
margin-left : 13.33% ; 
margin-right : 13.33% ; 
text-align : justify ; 
text-indent : 9.375% ; 
}

