.class-0-145 {
font-style : italic ; 
line-height : 1.2em ; 
margin-top : 0.7875em ; 
text-align : right ; 
}

.class-0-146 {
line-height : 1.2em ; 
margin-bottom : 0.6345708em ; 
margin-top : 0.6749999999999999em ; 
text-align : right ; 
}

