.class-0-4621 {
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.280004em ; 
margin-top : 0.5273435999999999em ; 
page-break-after : avoid ; 
text-align : center ; 
}

.class-0-4623 {
font-size : 1.0rem ; 
}

.class-0-4624 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-4622 {
line-height : 1.2em ; 
margin-top : 2.025em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-4626 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-4638 {
line-height : 1.2em ; 
margin-top : 1.3499999999999999em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

