.class-0-124 {
font-size : 1.8rem ; 
line-height : 1.2224039999999998em ; 
margin-bottom : 0.24956399999999998em ; 
margin-top : 0.7755624em ; 
text-align : center ; 
}

.class-0-125 {
line-height : 1.2em ; 
margin-bottom : 0.45759959999999994em ; 
text-align : center ; 
}

.class-0-126 {
font-size : 1.2rem ; 
line-height : 1.2em ; 
margin-bottom : 0.5437932em ; 
margin-top : 2.437272em ; 
text-align : center ; 
}

