.class-0-128 {
font-size : 1.2rem ; 
line-height : 1.2em ; 
margin-bottom : 0.3921384em ; 
margin-top : 1.218636em ; 
text-align : center ; 
}

.class-0-129 {
font-size : 1.2rem ; 
line-height : 1.2em ; 
margin-bottom : 0.3921384em ; 
text-align : center ; 
}

.class-0-133 {
font-size : 1.2rem ; 
line-height : 1.2em ; 
margin-bottom : 0.5437932em ; 
text-align : center ; 
}

