.class-0-4 {
color : #365f91 ; 
font-size : 1.2rem ; 
font-weight : bold ; 
line-height : 1.2em ; 
margin-top : 2.597568em ; 
page-break-after : avoid ; 
page-break-inside : avoid ; 
}

.class-0-6 {
color : #0000ff ; 
font-size : 1.0rem ; 
text-decoration : underline ; 
}

.class-0-5 {
font-size : 1.0rem ; 
line-height : 1.280004em ; 
margin-bottom : 0.213em ; 
}

.class-0-121 {
font-size : 1.0rem ; 
line-height : 1.280004em ; 
margin-bottom : 0.5949095999999999em ; 
}

