.class-0-135 {
font-size : 1.2rem ; 
font-weight : normal ; 
line-height : 1.280004em ; 
margin-top : 0.615234em ; 
page-break-after : avoid ; 
text-align : center ; 
}

.class-0-136 {
line-height : 1.2em ; 
margin-top : 2.25em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-138 {
font-size : 1.0rem ; 
}

.class-0-139 {
font-size : 1.0rem ; 
font-style : italic ; 
}

.class-0-137 {
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-142 {
font-style : italic ; 
line-height : 1.2em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

.class-0-143 {
line-height : 1.2em ; 
margin-bottom : 0.6345708em ; 
margin-top : 0.6749999999999999em ; 
text-align : justify ; 
text-indent : 3.0em ; 
}

