.class-0-6067 {
box-sizing : content-box ; 
line-height : 1.2em ; 
text-align : center ; 
}

.class-0-6068 {
width : 45.68% ; 
}

.class-0-6070 {
color : #0000ff ; 
font-size : 1.2rem ; 
line-height : 1.280004em ; 
text-decoration : underline ; 
}

.class-0-6069 {
font-size : 1.0rem ; 
line-height : 1.280004em ; 
text-align : center ; 
}

.class-0-6071 {
line-height : 1.280004em ; 
text-align : center ; 
}

