.class-0-119 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-121 {
font-size : 1.66667rem ; 
line-height : 1.2em ; 
}

.class-0-120 {
font-family : 01_halftitlepage-avenir-medium ; 
font-size : 2.0rem ; 
font-weight : bold ; 
letter-spacing : 0.0pt ; 
line-height : 1.2em ; 
margin-bottom : 2.304em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-122 {
text-align : justify ; 
text-indent : 6.719% ; 
}

