.class-0-30 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-31 {
font-family : 01_halftitlepage-avenir-medium ; 
font-size : 1.3rem ; 
font-weight : bold ; 
letter-spacing : 0.0pt ; 
line-height : 1.2em ; 
margin-bottom : 3.54462em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-33 {
font-style : italic ; 
}

.class-0-32 {
text-align : justify ; 
text-indent : 6.719% ; 
}

