.class-0-42 {
font-size : 1.0rem ; 
line-height : 1.2em ; 
margin-top : 4.8em ; 
padding-left : 2.0% ; 
padding-right : 2.0% ; 
}

.class-0-43 {
font-family : 01_halftitlepage-avenir-medium ; 
font-size : 1.3rem ; 
font-weight : bold ; 
letter-spacing : 0.0pt ; 
line-height : 1.2em ; 
margin-bottom : 2.363076em ; 
text-align : center ; 
text-indent : 0.0% ; 
}

.class-0-46 {
font-size : 0.833333rem ; 
line-height : 1.2em ; 
}

.class-0-44 {
margin-left : 7.0% ; 
text-align : left ; 
text-indent : -6.719% ; 
}

